<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="assets/css/mycss.css">  -->
<style>
    .tooltip-inner {
        width: 125px;
        background: #b59848;
        padding: 5px 5px 5px 5px;
        font-size: 14px;
        font-weight: bolder;
        height: auto;
    }
    
    .largefilep {
        position: fixed;
        width: 100%;
        opacity: 0.6;
        filter: alpha(opacity=60);
        top: 0px;
        min-height: 200px;
        height: 100%;
        z-index: 9999999999;
        background: #2c846d;
        font-size: 20px;
        text-align: center;
        display: none;
    }
    
    .encryptfilep {
        position: fixed;
        width: 100%;
        opacity: 0.6;
        filter: alpha(opacity=60);
        top: 0px;
        min-height: 200px;
        height: 100%;
        z-index: 9999999999;
        background: #5b4f71;
        font-size: 20px;
        text-align: center;
        display: none;
    }
    
    .digitalfilep {
        position: fixed;
        width: 100%;
        opacity: 0.6;
        filter: alpha(opacity=60);
        top: 0px;
        min-height: 200px;
        height: 100%;
        z-index: 9999999999;
        background: #96450e;
        font-size: 20px;
        text-align: center;
        display: none;
    }
    
    .dropdown-menu {
        left: 25%;
        min-width: 100px;
        margin-top: 0%;
    }
    
    .caret {
        color: #b49948;
    }
    
    @media screen and (min-width: 1920px) {
        .latest-trend-box a img {
            width: 195px;
        }
    }
    
    @media screen and (max-width: 699px) {
        .hide_mob {
            display: none;
        }
    }
    
    @media screen and (min-width: 699px) {
        .lm {
            display: none;
        }
    }
</style>





<section class="hdrsec">
    <div class="logoimg">
        <a routerLink="/"> <img src="../../assets/img/ezee-logo.png" /></a>
    </div>


    <div class="drp drpnw">

        <div class="col-lg-12 col-md-12  col-xs-12">

            <div class="hide_mob">
                <a routerLink='/register'>

                    <div class="list-part-home loginbtn">SIGN UP

                    </div>
                </a>

                <a routerLink='/login'>
                    <div class='list-part-home loginbtn' style="padding: 8px;color: #b59848;">LOG IN

                    </div>
                </a>
            </div>

            <div class="list-part-home lm" style="margin-right: 70px !important;">

                <li class='dropdown'>

                    <a class='dropdown-toggle' data-toggle='dropdown' aria-expanded='false'><span class='title'> <i class="fa fa-bars"></i>&nbsp;&nbsp;</span></a>

                    <ul class='dropdown-menu'>

                        <li><a routerLink='/login'>LOG IN</a></li>

                        <li><a routerLink='/regiser'>SIGN UP</a></li>

                    </ul>

                </li>

            </div>
        </div>
    </div>

</section>


<div class="container">

    <div class="list-part">

        <li class="dropdown">

            <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

                <i class="fa fa-user list5" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;

                <span class="title">Tarun &nbsp;&nbsp;<b class="caret"></b></span>
            </a>

            <ul class="dropdown-menu">

                <li><a>Logout</a></li>

                <li><a>View Profile</a></li>

                <li id=""><a>Change Password</a></li>

                <li><a>Membership Order</a></li>

            </ul>

        </li>

    </div>

</div>




<script language="javascript">
    $(document).ready(function() {
        $("#changepass").click(function() {
            $("#shadow").fadeIn("normal"), $("#changepasswordform").fadeIn("normal")
        }), $("#cancel_hide").click(function() {
            $("#changepasswordform").fadeOut("normal"), $("#shadow").fadeOut("normal")
        }), $(".closepar").click(function() {
            $("#changepasswordss")[0].reset(), $("#changepasswordform").fadeOut("normal"), $("#error_password").html(""), $("#shadow").fadeOut("normal")
        })
    });
</script>



<div class="container middlemargin">

    <div class="row">

        <div class="col-lg-2 col-md-2 col-xs-12">

            <!--Instructions & logo part start-->

            <div style="display:block; margin:0 auto;" class="col-lg-12">

                <a data-placement="right" data-toggle="tooltip" data-original-title="">
                    <p class="pt51 pt567">&nbsp;&nbsp;<span class="fa fa-home"></span> &nbsp;Home</p>
                </a>

            </div>

            <a routerLink="digital_signature.html">

                <img class="img-responsive img-portfolio2" src="../../assets/img/signature.png" style="margin-top:10%;" alt="" data-placement="right">

            </a>



            <script type="text/javascript">
                $(function() {
                    $('#showhide').click(function() {
                        $("#slidediv").slideToggle();
                    });
                });
            </script>

            <style type="text/css">
                .arrow-top {
                    top: -1px;
                }
            </style>

            <div class="wrapper2">

                <li style="list-style:none; cursor:pointer;" class="toggle">

                    <a style="cursor: pointer;" class="list-part2" id="showhide" data-placement="right">

                        <span class="title2">INSTRUCTIONS</span>

                    </a>

                    <ul style="display:none;" class="drop-popup" id="slidediv">

                        <div class="arrow-top"><img src="../../assets/img/arrow-top.png"></div>

                        <div class="inst-popup" style="font-family: Century Gothic; font-size: 14px; text-align: left; font-weight: bold; color: #333;">

                            <ul style="list-style: none; padding: 0;">

                                <li style="margin-bottom: 10px;">Step 1: Upload or drag and drop PDF file.</li>

                                <li style="margin-bottom: 10px;">Step 2: Check box, if you require an expiration date (not mandatory).</li>

                                <li style="margin-bottom: 10px;">Step 3: Add participants.</li>

                                <li style="margin-bottom: 10px;">Step 4: You can rearrange signing order under "priority". Click on arrow up or down to change signing order (not mandatory). Click next to complete.</li>


                            </ul>

                        </div>

                    </ul>

                </li>

            </div>


            <div class="clearfix"></div>
            <!--Instructions & logo part end-->

        </div>

        <div class="col-lg-10 col-md-10 col-xs-12">

            <div class="inner-part8" style="box-shadow:none !important;">

                <div class="col-lg-12">

                    <div class="col-lg-12">

                        
                    </div>
                </div>

                <div class="col-lg-12">

                    <div class="tabs-left">

                        <style type="text/css">
                            .active span.pt6 {
                                color: #fff !important;
                            }
                        </style>
                        <ul class="nav nav-tabs6">

                            <li class=""><a routerLink=""><span class="fa fa-file-pdf-o"></span>&nbsp;&nbsp;<span class="pt6">Compose</span></a></li>

                            <li class="active"><a routerLink="actionrequired"><span class="fa fa-ban"></span>&nbsp;&nbsp;<span class="pt6">Action Required</span></a></li>

                            <li class=""><a routerLink=""><span class="fa fa-check"></span>&nbsp;&nbsp;<span class="pt6">Completed</span></a></li>

                            <li class=""><a routerLink=""><span class="fa fa-users"></span>&nbsp;&nbsp;<span class="pt6">Contact</span></a></li>

                        </ul>

                        <div id="myTabContent" class="tab-content">

                            <div class="tab-pane1 active" id="home">

                                <div class="col-lg-12 col-md-12 col-xs-12">

                                    <div class="table-responsive">

                                        <form method="get" action="">

                                            <div class="box3" style="border-radius:0px;">

                                                <div class="col-lg-12 col-md-12 col-xs-12">

                                                    <div class="col-lg-1 col-md-1 col-xs-12"> </div>

                                                    <div class="col-lg-10 col-md-10 col-xs-12">

                                                        <div id="imaginary_container">

                                                            <div class="input-group stylish-input-group">

                                                                <input type="text" name="search" class="form-control" style="border-radius:0px;" placeholder="Search by user name or doc name">

                                                                <span class="input-group-addon" style="border-radius:0px;">
                              
                                             </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-xs-12"> </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-xs-12">

                                                    <div class="col-lg-1 col-md-1 col-xs-12"> </div>

                                                    <div class="col-lg-5 col-md-5 col-xs-12">

                                                        <div class="form-group">

                                                            <div class="input-group date" id="datetimepicker11" style="margin-top:8%; width:100%;">

                                                                <span class="Zebra_DatePicker_Icon_Wrapper" style="display: block; position: relative; float: left; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%;"><input type="text" name="startdate" style="border-radius: 0px; border: 0px; font-family: &quot;Century Gothic&quot;; position: relative; top: auto; right: auto; bottom: auto; left: auto;" class="form-control" id="fromdate" placeholder="From:" readonly="readonly"><button type="button" class="Zebra_DatePicker_Icon Zebra_DatePicker_Icon_Inside_Right" style="top: 3px; right: 0px;">Pick a date</button></span>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="col-lg-5 col-md-5 col-xs-12">

                                                        <div class="form-group">

                                                            <div class="input-group date" id="datetimepicker2" style="margin-top:8%; width:100%;">

                                                                <input type="text" name="todate" style="border-radius:0px; border:0px; font-family:&#39;Century Gothic&#39;;" class="form-control" id="todate" placeholder="To:">

                                                                <font color="#FF0000" size="2" id="toerror_file"></font>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="col-lg-12 col-md-11 col-xs-12">

                                                    <div class="col-lg-1 col-md-1 col-xs-12"> </div>

                                                    <div class="col-lg-10 col-md-10 col-xs-12">

                                                        <div align="right"><button type="submit" style="border-radius:0px; box-shadow:none !important; font-family:&#39;Century Gothic&#39;" class="search-btn" data-placement="top">SEARCH</button>
                                                            <!--<input type="submit" value="Search" name="sub" class="btn btn-success" style="background: #337ab7;">--></div>

                                                    </div>

                                                    <div class="col-lg-1 col-md-1 col-xs-12"> </div>
                                                </div>



                                                <div class="clearfix"></div>

                                            </div>

                                        </form>

                                    </div>

                                </div>





                                <div class="col-lg-12 boxtab" style="background:#fff;">

                                    <div class="col-lg-12 span-box" style=" border-radius:0px;">

                                        <form method="post" action="" id="" name="myform11">

                                            <table id="hor-zebra" summary="Employee Pay Sheet">

                                                <tbody>

                                                    <tr>

                                                        <td colspan="2"><label>
                                             
                         <input type="checkbox" name="" value="MTY=" class="chk">
                                           
                       </label> &nbsp;&nbsp;

                                                            <a routerLink="" title="" class="toolancr" data-toggle="tooltip" data-placement="bottom" data-original-title="click this to see all participants list of this document" aria-describedby="tooltip841003">websit-revisions-to-match-mockup-(1-22-18)-1521212297.pdf</a>
                                                            <div
                                                                class="tooltip fade bottom in tooltipp" role="tooltip" id="tooltip841003" style="top: 84px; left: 118.523px; display: none;">
                                                                <div class="tooltip-arrow" style="left: 50%;"></div>
                                                                <div class="tooltip-inner">click this to see all participants list of this document</div>
                                    </div>
                                    </td>

                                    <td>

                                        <a><img src="../../assets/img/need-sign.png"> Need to sign</a>

                                        <a><input type="button" value="DOCUMENTS" style="margin-right: -13px;" class="btn btn-primary" title="" data-toggle="tooltip" data-placement="bottom" data-original-title=""></a>

                                    </td>
                                    </tr>

                                    <tr class="odd">

                                        <td colspan="2">Needs to Send&nbsp;&nbsp;&nbsp;Saved on: Mar 16, 2018 Time : 10:59:22</td>

                                        <td>&nbsp;</td>

                                    </tr>


                                    <tr>

                                        <td><img src="../../assets/img/delate-2.png" class="img" style="margin-left:-10px !important;cursor:pointer;" onclick="" data-placement="top" data-toggle="tooltip" data-original-title=""></td>

                                        <td colspan="2">
                                            <div class="col-lg-12 col-md-12 col-sm-12">

                                            </div>

                                        </td>

                                    </tr>

                                    </tbody>

                                    </table>

                                    </form>


                                </div>

                            </div>


                        </div>

                    </div>
                    <!-- /tab-content -->
                </div>

            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</div>

</div>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="shade">

    <div class="popmsg">

        <p style="color:#FFFFFF; text-align:center;font-weight:900;font-size:16px;padding:10px 0; margin:0;" id="ses"></p>

    </div>

</div>



<footer id="footer">
    <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-12">
            <div class="msgimgdiv">
                <img src="../../assets/img/chat.png" />
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="copyrighttext">
                <p>COPYRIGHT &copy; 2018.ALL RIGHTS RESERVED</p>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="social-icondiv">
                <ul>
                    <li>
                        <a>
                            <img src="../../assets/img/insta.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/fb.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/twitter.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/google-plus.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/you.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/test.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>