
.logimg{
    text-align: center;
    padding: 130px 20px;
}
.logimg img{
    width: 200px;
}
.log-reg-btn{
    width: 100%;
    float: left;
}
.ezeelogintext{
    width: 100%;
    float: left;
    padding: 20px;
    text-align: center;
}
.ezeelogintext img{
    width: 84px;
}
.ezeelogintext p{
    width: 80%;
    float: left;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 29px;
    color: white;
    margin: 0px 61px;
    padding: 17px 0;

}
.formdiv .checkbox{
    color: white;
    margin: 0;
}
.jsttext{
    text-align: center;
    width: 100%;
    color: white;
    float: left;
    margin-bottom: 16px;
}
.socialbtns{
    width: 100%;
    float: left;
    padding: 0 160px;
}
.socialbtns a{
    width: 50%;
    float: left;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    padding: 6px;
    font-size: 17px;
}
.socialbtns .fbbtn a{
    background-color: #3b5999;
}
.socialbtns .googlebtn a{
    background-color: #de4b39;
}
.socialbtns .fbbtn a:hover, .socialbtns .fbbtn a:active, .socialbtns .fbbtn a:focus {
    background-color: #304a82;
}
.socialbtns .googlebtn a:hover, .socialbtns .googlebtn a:focus, .socialbtns .googlebtn a:active {
    background-color: #c53c2b;
}
.capimg{
    width: 100%;
    float: left;
    height: 250px;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.capimg img{
    width: 100%;
    float: left;
    overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.fropicture{
	position: relative;
	text-align: center;
}
.fropicture .regimg{
	width: 110px;
    position: absolute;
    top: 250px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
	cursor: pointer;
}
.nwlbl{
	color: white;
}
.loginbtn {
    padding: 8px;
    color: #b59848;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 8px 0px #020202;
    box-shadow: 0px 2px 8px 0px #020202;
    width: 92px;
    float: left;
    text-align: center;
    margin: 0 10px;
}
.loginbtn:hover, .loginbtn:active, .loginbtn:focus, .loginbtn:active:focus{
	background-color: #715632;
	transition: .5s;
	color: white !important;
}
.hdrsec{
	position: relative;
}
.drpnw{
    position: absolute;
    /* top: 30px; */
    right: 0;
    width: 285px;
}
/*header end*/


/*footer start*/
.msgimgdiv {
    width: 100%;
    float: left;
}
.msgimgdiv img {
    width: 45px;
    padding-top: 5px;
}
.copyrighttext{
    text-align: center;
}
.copyrighttext p{
   margin: 0;
    line-height: 4.3;
}
footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    padding: 2px 0px 0 0 !important;
    width: 100%;
    border-top: 2px solid #b59848;
    border-bottom: 2px solid #b59848;
    position: fixed; bottom:0; z-index: 99;
}
.social-icondiv{
    width: 100%;
    float: left;
    text-align: right;
}
.social-icondiv ul li{
    display: inline-block;
    line-height: 4;

}
.social-icondiv ul{
    padding: 0;
    margin: 0;
}

img.ng-untouched.ng-pristine.ng-valid {
    width: 100%;
}
video {
    width: 300%;
}
/*footer end*/




/* custom page css start */

#pwd_strength_wrap {
    background: #fff;
        border: 1px solid #2e363b;
        display: none;
        float: left;
        padding: 10px;
        position: absolute;
        width: 320px;
    z-index:99999999;
    margin-top:0%;
    /* margin-top: -15%;
          margin-left: 89%;*/
}
#pwd_strength_wrap:before, #pwd_strength_wrap:after {
     bottom: 100%;
  left: 19%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#pwd_strength_wrap:before {
   border-color: rgba(46, 54, 59, 0);
  border-bottom-color: #2e363b;
  border-width:22px;
  margin-left: -22px;
}
#pwd_strength_wrap:after {
   border-color: rgba(255, 252, 254, 0);
  border-bottom-color: #fffcfe;
  border-width: 20px;
  margin-left: -20px;
}
#pswd_info ul {
        list-style-type: none;
        margin: 5px 0 0;
        padding: 0;
}
#pswd_info ul li {
        /* background: url(icon_pwd_strength.png) no-repeat left 2px; */
        padding: 0 0 0 20px;
    font-size:12px;
}
#pswd_info ul li.valid {
        background-position: left -42px;
        color: green;
    font-size:13px;
}
#passwordStrength {
    display: block;
    height: 5px;
    margin-bottom: 10px;
    transition: all 0.4s ease;
}
.strength0 {
    background: none; /* too short */
    width: 0px;
}
.strength1 {
    background: none repeat scroll 0 0 #FF4545;/* weak */
    width: 25px;
}
.strength2 {
    background: none repeat scroll 0 0 #FFC824;/* good */
    width: 75px;
}
.strength3 {
        background: none repeat scroll 0 0 #6699CC;/* strong */
    width: 100px;
}
 
.strength4 {
        background: none repeat scroll 0 0 #008000;/* best */
    width: 150px;
}

.closepar
{
position: absolute;
right: -26px;
top: -21px;
}

.btn-success {
color: #fff;
background-color: #8EC231 !important;
border-color: #8EC231 !important;
}
.toolancr:hover .tooltipp{
display: block;
}  


.text-5{color:#96450e;}


.inst-popup{
margin-top: -2%;
}




.btn-primary {
    background-color: #b59848 !important; border-radius:0px; box-shadow:none !important;
    margin-bottom: 1.4% !important;
    background-image: none;
    border: none;
}

.btn-primary:hover { background-color: #b59848 !important;}


/* Outer */
.popuplog {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
	z-index:9999999999;
}
 
/* Inner */
.popuplog-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:40%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff !important;
}
 
/* Close Button */
.popuplog-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:22px !important;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
    cursor: pointer;
}
 
.popuplog-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
    cursor: pointer;
}

@media screen and (max-width:991px){
	.search-btn {margin-top: 20px;}
	.input-group {width:100%;}
	.input-group .form-control {width: 99% !important;}
	#imaginary_container {width:100%;}
}

.shade {
	position: fixed;
	top: 0;
	left: 29%;
	z-index: 9999999;
	height: 76px;
	width: 590px;
	background:#3e618c;
	display: none;
	padding: 15px;
	box-shadow: 0 0 40px 0px #000;
}

.search-btn {
    background: #b49948;
    padding: 7px 25px;
    color: #fff;
    border: none;
    font-size: 14px;
}
.caret {
    border-top: 14px dashed !important;
    border-right: 12px solid transparent !important;
    border-left: 12px solid transparent !important;
    margin-top: -2%;
    cursor: pointer;
}
span.title {
    color: #fff;
    font-size: 22px;
}

p.encryption {
    float: right;
}

