<section *ngIf="!showpdf" class="hdrsec">
    <div class="logoimg">
        <a routerLink='/landing'><img src="../../assets/img/ezee-logo.png"/></a>
    </div>
</section>



<!-- 1st view start -->
<section *ngIf="!showpdf" class="pdfsection">
    <div class="col-md-3"></div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="mail_cameradiv">

            <div class="form-group nwlbl formdiv">
                <input type="hidden" class="form-control" (change)="onImageChangeFromFile($event)" [(ngModel)]="credentials.imag" [value]="credentials.imag ? credentials.imag : null"
                    name="webcamImage" id="webcamImage" required>
         

                <div class="all_camera_main" *ngIf="!showWebcam && !webcamImage">
                    <div class="after_mail_cam_img tooltip12">
                        <img id="fgdfg" src="../../assets/img/images.png" style="width: 100%;" />
                    </div>
                    <!-- <i class="fa fa-plus-circle" aria-hidden="true"></i> -->
                    <div class="camera_first_image">
                        <div class="textmain_here">
                            <span class="tooltiptext">Click on camera icon to capture your image
                            <br />
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                            </span>
                            <img  type="button" (click)="toggleWebcam();" src="../../assets/img/camm11.png" class="regimg regimg pulse-button pulse" />
                        </div>
                    </div>
                </div>
                <div style="height: 100%; width: 100%">
                    <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"></webcam>
                    <div id="poping" class="new_cap" *ngIf="webcamImage">
                        <img [src]="webcamImage.imageAsDataUrl" style="transform: scaleX(-1);" name="image" [(ngModel)]="credentials.image" ngDefaultControl>
                    </div>
                  
                </div>
                <div class="signdiv" style="width:100%;">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <button type="button" *ngIf="camera" (click)="triggerSnapshot();" class="btn pulse-button green v_b" style="width: 100%">Capture</button>
                            </div>
                            <div class="col-md-4 col-md-offset-2">
                                <button *ngIf="imagecaptured" (click)="toggleWebcam();" type="button" class="btn pulse-button green v_b" style="width: 100%">Capture Again</button>    
                            </div>
                            <div class="col-md-4">
                                <button *ngIf="imagecaptured" (click)="verifyuser();" type="button" class="btn pulse-button green v_b" style="width: 100%">Accept</button>  
                            </div>
                        </div>
                    </div>
               
                </div>


                <div class="error-msg-div" *ngIf='error'>
                    <span calss="error-msg">{{error}}</span>
                </div>


            </div>

        </div>
    </div>
    <div class="col-md-3"></div>

</section>
<!-- 1st view end --> 


<!-- 2nd view start -->

<section *ngIf="showpdf" class="pdfsection1">
    <div class="col-sm-4 col-xs-12" >
        <div class="cameradiv pd0withposition newwithposition">

            <div class="form-group nwlbl">

                    <div class="fropicture" *ngIf="!showWebcamcapture && !webcamImageCapture" style="display:none">
                            <div class="after_mail_cam_img tooltip12">
                                <span class="tooltiptext">Click on camera icon to capture your image
                                    <br />
                                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                </span>
                                <img id="fgdfg" src="../../assets/img/images.png" style="width: 100%;" />
                            </div>
                            <!-- <i class="fa fa-plus-circle" aria-hidden="true"></i> -->
                            <img  type="button" (click)="toggleWebcamCapture();" src="../../assets/img/camm11.png" class="regimg regimg pulse-button pulse" />
                        </div>
                        <div style="height: 100%; width: 100%" style="display:none">
                            <webcam [trigger]="triggerObservable" (imageCapture)="handleImageCapture($event)" *ngIf="showWebcamcapture"></webcam>
                            <div id="poping" class="capimg" *ngIf="webcamImageCapture">
                                <img [src]="webcamImageCapture.imageAsDataUrl" name="image" [(ngModel)]="imgcap" ngDefaultControl>
                            </div>
                          
                        </div>
                       
                        <div class="capimg s_c" *ngIf="webcamImage">
                            <video #video class="video" ></video>
                          </div>
                          <div *ngIf="webcamImage">Your Session Will Expire in <strong style="color: red;">{{countDown}} </strong>seconds</div>
              

                <div class="signdiv" style="width:100%;">
                    <div class="top_information">
                        <b>{{clicks}}</b> signatures in {{noofpages}} pages
                    </div>
                    <div class="rject_if">
                        <h4>
                            <b>If you choose to REJECT</b>
                         it will terminate the process and you can not return to page
                        </h4>
                        <div class="form-group">
                            <button type="button" (click)="rejectdocument()" class="reject_if_btn">Reject</button>
                        </div>
                    </div>
                    <div class="exit_if">
                        <h4>
                            <b>If you choose to EXIT</b>
                         it will terminate the process and you can not return to page
                        </h4>
                        <div class="form-group">
                            <a routerLink='/landing' class="exit_if_btn">Exit</a>
                        </div>
                    </div>
                    <div class="signdiv" style="width:100%;">
                        <div class="form-group">                      
                            <div id="checkCount" (click)="getCount()"></div>
                            <div style="display: none" class=" stickit thefixeddiv" id="senddocbtn">
                                <div class="col-md-6 col-sm-12 col-xs-12" style="font-family: 'Century Gothic' !important; font-size: 22px; padding-top: 11px;">Click Send, to complete the Document.
                                        <!--Textboxes will be added here -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="right_btn_pannel" >
                                        <a class="btn signbtn pulse-button pulse green" (click)='updatesignature();' id="senddocbtn">SEND</a>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    </div>
                    <div class="error-msg-div position-relative" *ngIf='error'>
                        <span calss="error-msg">{{error}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="showpdf"  id="gethtml" class="gethtml" [innerHTML]="documenthtml | safe: 'html'">
        <div class="col-md-8 col-sm-8 col-xs-12">
        </div>
    </div>
</section>


<modal #initialModal [hideCloseButton]="true" [closeOnOutsideClick]="false">
    <modal-content class="review_modal">
        <div class="signpad" id="signherev" style="z-index:100000">
            <a routerLink='/exitmessage'
                class="close-button" title="Close">X</a>
            <div class="tagline">Apply your Signature</div>
            <div class="ppup_center">
                <div class="col-sm-12" style="padding:0 15px 20px 15px">
                    <div class="col-md-6">
                        <span class="green_tag">
                            <i class="fa fa-circle bullet_dot" aria-hidden="true"></i>confirm your name, initials and signature:</span>
                        <strong class="green_tag">
                            <i class="fa fa-circle bullet_dot" aria-hidden="true"></i>name:&nbsp;{{username}}</strong>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="col-sm-12" style="padding:20px 15px 0 15px;border:5px solid #858f03; border-radius:0px">
                    <div class="col-sm-9">
                        <div class="col-sm-8">
                            <div class="signature textbox1 signpad_textbox" id="signvhhhh" style="margin-top:19px !important;margin-left:10px !important;">{{username}}</div>
                        </div>
                        <div class="col-sm-4">
                            <div class="short_sign">
                                <span>{{userinitials}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <input name="selectfontsign" id="selectfontsign" type="hidden" value="cursive">
                    </div>
                </div>
                <div class="col-sm-12" style="padding:20px 15px">
                    <div class="agree">
                        <p>By clicking 'Accept' you agree to the Consumer Consent Disclosure, Terms of Service(TOS) and the End User
                            License Agreement(EULA) and approve the electronic representation of your Signature and Initials for
                            use when signing any document in this E-Signature Process.</p>
                    </div>
                    <div class="col-sm-7" style="padding-left:0">
                        <a href="javascript:void(0)" style="display:block;width:100%;padding:5px 0;color:#4c435e; font-weight: 600;">Print/Download Consumer Consent Disclosure</a>
                        <a href="javascript:void(0)" style="display:block;width:100%;color:#4c435e;  font-weight: 600;">Print/Download TOS EULA and Agreement Between Partners</a>
                    </div>
                    <div class="col-sm-5" style="text-align:right">
                        <button (click) = "applyinitials()" class="btn btn-primary btn_apply" style="">APPLY</button>

                    </div>
                </div>
            </div>
        </div>
        
    </modal-content>
       
  </modal>


<div *ngIf="showpdf" class="col-md-3 signdiv">

</div>

<footer *ngIf="!showpdf">
    <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-12">
            <div class="msgimgdiv">
                <img src="../../assets/img/chat.png" />
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="copyrighttext">
                <p>COPYRIGHT &copy; 2018.ALL RIGHTS RESERVED</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="social-icondiv">
                <ul>
                    <li>
                        <a>
                            <img src="../../assets/img/insta.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/fb.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/twitter.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/google-plus.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/you.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/test.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </footer>


<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop: true }"></ngx-loading>


