
<div class="wrapper">
  <app-header></app-header>
  <app-main-side-bar></app-main-side-bar>
  <div class="content-wrapper sd_spce">
     <div class="no_container">
      <div class="row hundrnd_cntr">
		<div class="col-sm-12">
			<a _ngcontent-c3="" (click)="backClicked()"  class="inner_back"><i _ngcontent-c3="" class="fa fa-angle-left"></i>Back</a>
		</div>
        <div id="div1" class="col-sm-6" >
			
			<div class="cmplt_dsh_hdng">
				<h2>Completed Document</h2>
			</div>
			<div class="tble_dvv" >
				<table style="width:100%">
				  <tr class="bg_clr_tble">
					<th class="bodr_lft">Document</th>
					<th colspan="1">Name</th>
					<th>SignedTime</th>
				  </tr>
				  <tr class="td_bg" *ngFor="let document of documents">
					<td class="on_hover_bodr"><a routerLink="/documentdetail/{{document.documentid}}">pdf-{{document.documentid}}</a></td>
					<td>{{document.sendername}}</td>
					<td>{{document.signedTime.substr(0,10)}}</td>
				  </tr>
				</table>
			</div>
        </div>
				<div class="col-sm-6">
        <div id="div2" >
			<div class="scmd_clndr_hdng">
				<h2>Calendar</h2>
			</div>
			<div class="row cnt_cnt">
				<div class="col-md-5">
					<div class="clndrrr"><input type="date" [(ngModel)]="today" (change)='datechange($event)'  (ngModelChange)="today = $event" ></div>
				</div>
				<div class="col-md-7 no_padding">
					<div class="ryt_wrk">
						<div *ngIf='!pendingdocuments_pen'>
							Please Select date First
						</div>
						

							<div *ngIf='nodoc'>
							 No document avalible
						</div>
						<div class="same_dc_dsng" *ngFor='let pen of pendingdocuments_pen'>
							<!-- {{pen | json}} -->
							<div class="spn_txt">
							
								<span class="txt_up">{{pen.date | date: 'MM'}}</span><br><span class="txt_dwn_up">{{pen.date | date: 'dd'}}</span>
							</div>
							<div class="ryt_sd_txt">
										<!-- <td class="on_hover_bodr"><a routerLink="/documentdetail/{{document.documentid}}">pdf-{{document.documentid}}</a></td> -->
								<h4><a routerLink="/documentdetail/{{pen.documentname}}">pdf- {{pen.documentname}}</a></h4>
								<span class="smll_txt_hfor">{{pen.date | date: 'yyyy'}}</span>
							</div>
						</div>
					
					</div>
				</div>
			</div>
			
		</div>
		</div>
        </div>
		<div class="row extra_space">
			<div class="col-md-4">
				<div class="four_full" >
					<div class="top_bg_for_hdng">
						<h2>Pending Document</h2>
					</div>
					<div class="again_sme_dv" *ngFor="let pendingdoc of pendingdocuments">
						<!-- <div class="prfl_img">
							<img src="assets/images/avatar.jpg">
						</div> -->
						<div class="ryt_prfl_txt">
							<h4>File Name</h4>
							<span class="sml_txtt_xxx">
								<a routerLink="/documentdetail/{{pendingdoc.documentid}}">
									Pdf-{{pendingdoc.documentid}}</a>
							</span>
							<p>{{pendingdoc.sendername}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="eight_fll">
					<div class="top_bg_for_hdng">
						<h2>Saved Images</h2>
					</div>
					<div class="images_dvv">
						<div class="row">
							<div class="col-md-6">
								<div class="img_div">
									<img src="https://ezeeboss.com:3001/images/{{userid}}/{{image}}" alt="User Image">
								</div>
							</div>
							<div class="col-md-6">
								<div class="img_div">
									<img src="https://ezeeboss.com:3001/images/{{userid}}/{{image}}" alt="User Image">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
  
  <div class="control-sidebar-bg"></div>
</div>


