
.logimg{
    text-align: center;
    padding: 130px 20px;
}
.logimg img{
    width: 200px;
}
.img_o , .vid_o{ width:50%; float: left;}

.iconimg[_ngcontent-c2] img[_ngcontent-c2] {
    width: 20px;
}
.person_img, .vid_o video{
    width: 95%;
    margin: 5px;
    display: block;
}
.completed_box img {
    width: 19px;
    margin: 0 auto;
    display: inline-block;
}
.completed_box_green img {
    width: 19px;
    margin: 0 auto;
    display: inline-block;
}
.jsttext{
    text-align: center;
    width: 100%;
    color: white;
    float: left;
    margin-bottom: 16px;
}
.socialbtns{
    width: 100%;
    float: left;
    padding: 0 160px;
}
.socialbtns a{
    width: 50%;
    float: left;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    padding: 6px;
    font-size: 17px;
}
.socialbtns .fbbtn a{
    background-color: #3b5999;
}
.socialbtns .googlebtn a{
    background-color: #de4b39;
}
.socialbtns .fbbtn a:hover, .socialbtns .fbbtn a:active, .socialbtns .fbbtn a:focus {
    background-color: #304a82;
}
.socialbtns .googlebtn a:hover, .socialbtns .googlebtn a:focus, .socialbtns .googlebtn a:active {
    background-color: #c53c2b;
}

.hdrsec{
	position: relative;
}
.drpnw{
    position: absolute;
    /* top: 30px; */
    right: 0;
    width: 285px;
}
/*header end*/


/*footer start*/
.msgimgdiv {
    width: 100%;
    float: left;
}
.msgimgdiv img {
    width: 45px;
    padding-top: 5px;
}
.copyrighttext{
    text-align: center;
}
.copyrighttext p{
   margin: 0;
    line-height: 4.3;
}
footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    padding: 2px 0px 0 0 !important;
    width: 100%;
    border-top: 2px solid #b59848;
    border-bottom: 2px solid #b59848;
    float: left;
    position: fixed; bottom:0; z-index: 99;
}
.social-icondiv{
    width: 100%;
    float: left;
    text-align: right;
}
.social-icondiv ul li{
    display: inline-block;
    line-height: 4;

}
.social-icondiv ul{
    padding: 0;
    margin: 0;
}

.box3 {
        padding: 6px 20px 20px;
    background: #414541 !important;
    border: none !important;
}
.box3 input { border-radius: 0; border: 2px solid #414541; margin-bottom: 20px; }
.calinput { float: left; border: 3px #414541 solid !important; border-radius: 0; }
.calinnerdiv .calinput { width: 80% !important; }

.boxtab {
    margin-top: 2% !important;
}
.list-part {
    margin-bottom: 10px;
}
.list-part {
    width: 20%;
}
tbody {
    width: 100% !important;
    display: inline-grid;
}
tbody tr {
    display: inline-table;
}
.box3 .search-btn{
    border: none;
    background-color: rgb(89,169,35);
    color: white;
    padding: 9px 35px;
    margin-bottom: 20px;
    font-size: 16px;
}
.thbvft {
    /* display: inline-block; */
    background-color: #a68734;
    width: 47px;
    height: 39px;
    position: absolute;
    right: -55px;
    top: -6px;
    text-align: center;
    padding: 10px;
    color: #fff;
}
.caret {
    /* margin-left: 10px; */
    color: #fff !important;
}
span.title {
color: #fff;
font-size: 22px;
display: inline-block;
}
.calbtn{
    padding: 6px 8px !important;
    float: left;
    color: #858f03;
    margin-left: 3px;
    width: 14%;
    background-color: #e8e8e8;
    border: 3px solid #414541;
    position: absolute;
}
.calbtn i{
    padding: 0;
    font-size: 18px;
    color: #5e6e03;
}
    .tooltip-inner {
        width: 125px;
        background: #b59848;
        padding: 5px 5px 5px 5px;
        font-size: 14px;
        font-weight: bolder;
        height: auto;
    }
    
    .largefilep {
        position: fixed;
        width: 100%;
        opacity: 0.6;
        filter: alpha(opacity=60);
        top: 0px;
        min-height: 200px;
        height: 100%;
        z-index: 9999999999;
        background: #2c846d;
        font-size: 20px;
        text-align: center;
        display: none;
    }
    
    .encryptfilep {
        position: fixed;
        width: 100%;
        opacity: 0.6;
        filter: alpha(opacity=60);
        top: 0px;
        min-height: 200px;
        height: 100%;
        z-index: 9999999999;
        background: #5b4f71;
        font-size: 20px;
        text-align: center;
        display: none;
    }
    
    .digitalfilep {
        position: fixed;
        width: 100%;
        opacity: 0.6;
        filter: alpha(opacity=60);
        top: 0px;
        min-height: 200px;
        height: 100%;
        z-index: 9999999999;
        background: #96450e;
        font-size: 20px;
        text-align: center;
        display: none;
    }
    
    .dropdown-menu {
        left: 25%;
        min-width: 100px;
        margin-top: 0%;
    }
    
    .caret {
        color: #b49948;
    }
    
    @media screen and (min-width: 1920px) {
        .latest-trend-box a img {
            width: 195px;
        }
    }
    
    @media screen and (max-width: 699px) {
        .hide_mob {
            display: none;
        }
    }
    
    @media screen and (min-width: 699px) {
        .lm {
            display: none;
        }
    }