
<div class="wrapper">
    <app-header></app-header>
    <!-- Left side column. contains the logo and sidebar -->
    <app-main-side-bar></app-main-side-bar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <!--<h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>-->
        </section>
        <!-- Main content -->
        <section class="content1">
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button class="delbtn"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                </div>
                <div class="col-xs-12">
                    <div class="box box12">
                        <div class="box-header myhdr">
                            <h3 class="box-title">Pending Document</h3>
                            <!--<div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding mynewtable">
                            <table class="table table-hover">
                                <tr class="hdr">
                                    <th></th>
                                    <th>Doc#</th>
                                    <th>Document Name</th>
                                    <th>Sender</th>
                                    <th>Signee Image</th>
                                    <th>Signee Video</th>
                                    <th>Signee Location</th>
                                    <th>Exp. Date</th>
                                    <th>Action</th>
                                </tr>
                                <tr class="smallfont">
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                    </td>
                                    <td>219</td>
                                    <td class="docname">
                                        Mike Doe<br />
                                        <span>xxxx xxxx</span>
                                    </td>
                                    <td>11-7-2014</td>
                                    <td class="videotd">
                                        <div class="dpbx">
                                            <img src="../../../assets/img/profile-placeholder.jpg" />
                                            <a> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td class="videotd">
                                        <div class="dpbx1">
                                            <a class="videoimg"> <i class="fa fa-play" aria-hidden="true"></i></a>
                                            <a class="downarrw"> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td><i class="fa fa-map-marker" aria-hidden="true"></i> Bacon ipsum dolor sit</td>
                                    <td class="docname">11-7-2014</td>
                                    <td class="docname"><a class="nobrdr">View</a></td>
                                </tr>
                                <tr class="smallfont">
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                    </td>
                                    <td>219</td>
                                    <td class="docname">
                                        Mike Doe<br />
                                        <span>xxxx xxxx</span>
                                    </td>
                                    <td>11-7-2014</td>
                                    <td class="videotd">
                                        <div class="dpbx">
                                            <img src="../../../assets/img/profile-placeholder.jpg" />
                                            <a> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td class="videotd">
                                        <div class="dpbx1">
                                            <a class="videoimg"> <i class="fa fa-play" aria-hidden="true"></i></a>
                                            <a class="downarrw"> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td><i class="fa fa-map-marker" aria-hidden="true"></i> Bacon ipsum dolor sit</td>
                                    <td class="docname">11-7-2014</td>
                                    <td class="docname"><a class="nobrdr">View</a> </td>
                                </tr>
                                <tr class="smallfont">
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                    </td>
                                    <td>657</td>
                                    <td class="docname">
                                        Mike Doe<br />
                                        <span>xxxx xxxx</span>
                                    </td>
                                    <td>11-7-2014</td>
                                    <td class="videotd">
                                        <div class="dpbx">
                                            <img src="../../../assets/img/profile-placeholder.jpg" />
                                            <a> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td class="videotd">
                                        <div class="dpbx1">
                                            <a class="videoimg"> <i class="fa fa-play" aria-hidden="true"></i></a>
                                            <a class="downarrw"> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td><i class="fa fa-map-marker" aria-hidden="true"></i> Bacon ipsum dolor sit</td>
                                    <td class="docname">11-7-2014</td>
                                    <td class="docname"><a class="nobrdr">View</a></td>
                                </tr>
                                <tr class="smallfont">
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                    </td>
                                    <td>175</td>
                                    <td class="docname">
                                        Mike Doe<br />
                                        <span>xxxx xxxx</span>
                                    </td>
                                    <td>11-7-2014</td>
                                    <td class="videotd">
                                        <div class="dpbx">
                                            <img src="../../../assets/img/profile-placeholder.jpg" />
                                            <a> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td class="videotd">
                                        <div class="dpbx1">
                                            <a class="videoimg"> <i class="fa fa-play" aria-hidden="true"></i></a>
                                            <a class="downarrw"> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td><i class="fa fa-map-marker" aria-hidden="true"></i> Bacon ipsum dolor sit</td>
                                    <td class="docname">11-7-2014</td>
                                    <td class="docname"><a class="nobrdr">View</a></td>
                                </tr>
                                <tr class="smallfont">
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                    </td>
                                    <td>175</td>
                                    <td class="docname">
                                        Mike Doe<br />
                                        <span>xxxx xxxx</span>
                                    </td>
                                    <td>11-7-2014</td>
                                    <td class="videotd">
                                        <div class="dpbx">
                                            <img src="../../../assets/img/profile-placeholder.jpg" />
                                            <a> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td class="videotd">
                                        <div class="dpbx1">
                                            <a class="videoimg"> <i class="fa fa-play" aria-hidden="true"></i></a>
                                            <a class="downarrw"> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td><i class="fa fa-map-marker" aria-hidden="true"></i> Bacon ipsum dolor sit</td>
                                    <td class="docname">11-7-2014</td>
                                    <td class="docname"><a class="nobrdr">View</a></td>
                                </tr>
                                <tr class="smallfont">
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                    </td>
                                    <td>175</td>
                                    <td class="docname">
                                        Mike Doe<br />
                                        <span>xxxx xxxx</span>
                                    </td>
                                    <td>11-7-2014</td>
                                    <td class="videotd">
                                        <div class="dpbx">
                                            <img src="../../../assets/img/profile-placeholder.jpg" />
                                            <a> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td class="videotd">
                                        <div class="dpbx1">
                                            <a class="videoimg"> <i class="fa fa-play" aria-hidden="true"></i></a>
                                            <a class="downarrw"> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td><i class="fa fa-map-marker" aria-hidden="true"></i> Bacon ipsum dolor sit</td>
                                    <td class="docname">11-7-2014</td>
                                    <td class="docname"><a class="nobrdr">View</a></td>
                                </tr>
                                <tr class="smallfont">
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                    </td>
                                    <td>175</td>
                                    <td class="docname">
                                        Mike Doe<br />
                                        <span>xxxx xxxx</span>
                                    </td>
                                    <td>11-7-2014</td>
                                    <td class="videotd">
                                        <div class="dpbx">
                                            <img src="../../../assets/img/profile-placeholder.jpg" />
                                            <a> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td class="videotd">
                                        <div class="dpbx1">
                                            <a class="videoimg"> <i class="fa fa-play" aria-hidden="true"></i></a>
                                            <a class="downarrw"> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td><i class="fa fa-map-marker" aria-hidden="true"></i> Bacon ipsum dolor sit</td>
                                    <td class="docname">11-7-2014</td>
                                    <td class="docname"><a class="nobrdr">View</a></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!--<section>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-md-10 col-sm-10 col-xs-12 inputdiv"><input type="text" class="form-control" id="exampleInputText1" placeholder="Message to sender"></div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <button class="sbmitbtn">Submit</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2"></div>
                </form>
            </div>
        </section>-->
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <app-footer></app-footer>
    <!-- Control Sidebar -->
    <!-- <app-control-slider></app-control-slider> -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>


