<!-- 
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/signature.css">  -->
<!-- <link rel="stylesheet" href="assets/css/mycustom.css">  -->
<section class="hdrsec">
  <div class="logoimg">
    <a routerLink="/"><img src="assets/img/ezee-logo.png" /></a>
  </div>
</section>

<section class="fullpage">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 text-right">
      </div>
      <div class="col-xs-9 text-right">
        <div class="row">
          <div class="col-xs-6 text-left">
            <a (click)="backClicked()" class="top_back_button"><i class="fa fa-caret-left"></i><span>Back</span></a>
          </div>
          <!-- menu start -->
          <div class="col-xs-6 text-right">
            <div class="new_custom_drop_down">
              <li class="dropdown" dropdown>
                <i class="fa fa-user list5" aria-hidden="true"></i> &nbsp;

                <span class="title">{{fullname}} &nbsp;</span>
                <a style="cursor: pointer;" class="dropdown-toggle" dropdownToggle>
                  <div class="downarrow mobiledownarrow"><b class="caret"></b></div>
                </a>
                <ul *dropdownMenu class="my_drop_down">

                  <li><a (click)="logout();">Logout</a></li>

                  <li><a routerLink="/profile">View Profile</a></li>

                  <li id=""><a>Change Password</a></li>

                  <li><a>Membership Order</a></li>

                </ul>
              </li>
            </div>
          </div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>




  <div class="container">

    <div class="row mt_class">

      <div class="col-lg-3 col-md-3 col-xs-12 mobilepd">

        <!--Instructions & logo part start-->

        <div style="display:block; margin:0 auto;" class="col-lg-12 mobilepd">

          <a routerLink="/" data-placement="right" data-toggle="tooltip" data-original-title="" class="homeanchor">
            <span class="pt51 pt567 mobilehomebtn">
              <span class="fa fa-home"></span> Home
            </span>
          </a>

        </div>

        <a routerLink="">

          <img class="img-responsive compose_lock_image" src="../../assets/img/home-01.png" alt=""
            data-placement="right">

        </a>



        <div class="wrapper2">

          <li style="list-style:none; cursor:pointer;" class="toggle">

            <a style="cursor: pointer;" class="list-part2 mobilehomebtn" (click)="showinstructions = !showinstructions"
              data-placement="right">

              <span class="title2">INSTRUCTIONS</span>

            </a>

            <ul *ngIf="showinstructions" class="drop-popup mydroppopup">

              <div class="arrow-top"><img src="../../assets/img/arrow-top.png"></div>

              <div class="inst-popup instnew"
                style="font-family: Century Gothic; font-size: 14px; text-align: left; font-weight: bold; color: #333;">

                <ul style="list-style: none; padding: 0;">

                  <li style="margin-bottom: 10px;">Step 1: Upload or drag and drop PDF file.</li>

                  <li style="margin-bottom: 10px;">Step 2: Check box, if you require an expiration date (not mandatory).
                  </li>

                  <li style="margin-bottom: 10px;">Step 3: Add participants.</li>

                  <li style="margin-bottom: 10px;">Step 4: You can rearrange signing order under "priority". Click on
                    arrow up or down to change signing order (not mandatory). Click next to complete.</li>


                </ul>

              </div>

            </ul>

          </li>

        </div>


        <div class="clearfix mymsg"></div>
        <!--Instructions & logo part end-->

      </div>

      <div class="col-lg-9 col-md-9 col-xs-12">

        <div class="inner-part8" style="box-shadow:none !important;">

          <div class="col-lg-12 p_bottom">
            <div class="col-lg-6">
              <form class="">
                <div class="input-group list stylish-input-group">
                  <input type="text" [(ngModel)]="searchdata" class="form-control" style="border-radius:0px;"
                    placeholder="Search....." name="pcode" id="pcode">
                  <span class="input-group-addon" style="border-radius:0px;">
                    <button (click)="filterarray()"> <span class="fa fa-search"></span> </button>
                  </span>
                </div>
              </form>
            </div>
            <div class="col-lg-6">

              <p class="smartheading_new">SMART<Span>MAIL</Span></p>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="tabs-left">
              <ul class="nav nav-tabs6">
                <li class="">
                  <a routerLink="/composemail">
                    <span class="iconimg"><img src="assets/img/envelope.png" /></span>
                    <span class="pt6">Compose</span>
                  </a>
                </li>
                <li class="">
                  <a routerLink="/readmail">
                    <span class="iconimg"><img src="assets/img/message-closed-envelope.png" /></span>
                    <span class="pt6">Read Mail</span>
                  </a>
                </li>
                <li class="">
                  <a routerLink="/sentmail">
                    <span class="iconimg"><img src="assets/img/sent-mail.png" /></span>
                    <span class="pt6">Sent</span>
                  </a>
                </li>
                <li class="">
                  <a routerLink="/trashmail">
                    <span class="iconimg"><img src="assets/img/trash.png" /></span>
                    <span class="pt6">Trash</span>
                  </a>
                </li>
                <li class="active">
                  <a routerLink="/contactmail">
                    <span class="iconimg"><img src="assets/img/phone-receiver.png" /></span>
                    <span class="pt6">Contact</span>
                  </a>
                </li>
              </ul>

              <div id="myTabContent" class="tab-content mobilecontent" style="opacity: 1;">




                <div   class="tab-pane active" id="home">
                  <div class="col-lg-12 col-md-12 col-xs-12">

                    <div *ngIf="res" class="">

                      <div class="table-responsive">
                        <div class="smartpadding">
                          <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                            <!--<a>
         <img src="assets/img/smartmail.png" class="img-responsive mailimg"/>
       </a> -->
                          </div>
                          <div class="text-right col-xs-12 nopadding">
                            <a (click)="file.click()" class="smartmovebtn">
                              <img src="assets/img/csv_file.png" class="" /><span>Upload CSV</span>
                            </a>
                            <a (click)="downloadascsv()" class="smartemptybtn">
                              <img src="assets/img/csv_file.png" class="" /><span>Download CSV</span>
                            </a>


                            <input type="file" #file style="display: none" (change)="uploadcsvcontacts($event);">
                          </div>
                        </div>
                        <div class="clearfix"></div>

                        <table class="table table-bordered table-hover table-striped">
                          <thead>
                            <tr class="smartmail">
                              <th>
                                <div class="checkbox">
                                  <label class=" new_checkbox_2">
                                    <input type="checkbox" [checked]="isAllChecked()" (change)="checkAll($event)">
                                    <span class="checkmark"></span>
                                  </label>
                                </div>
                              </th>
                              <th style="width:20%;">Name </th>
                              <th style="width:20%;">Company </th>
                              <th style="width:20%;">Contact </th>
                              <th style="width:20%;">Status </th>
                              <th style="width:100%;">Email </th>
                              <th style="width:10%;">Edit/Save</th>
                            </tr>
                          </thead>



                          <tbody *ngIf='!empty'>
                            <tr *ngFor="let item of mycsvcontact">
                              <td>
                                <div class="checkbox">
                                  <label class=" new_checkbox">
                                    <input type="checkbox" value="{{item._id}}" [(ngModel)]="item.selected">
                                    <span class="checkmark"></span>
                                  </label>
                                </div>
                              </td>
                              <td><input type="text" class="form-control input-sm color_black" #name
                                  value="{{item.name}}"></td>
                              <td><input type="text" class="form-control input-sm color_black" #company
                                  value="{{item.company}}"></td>
                              <td><input type="text" class="form-control input-sm color_black" #contact
                                  value="{{item.contact}}"></td>
                              <td>
                                <span *ngIf="item.mailsent !=0" style="color:red;">
                                  <a routerLink="">
                                    <font color="green">Mail Sent <br>({{item.mailsent}})</font>
                                  </a>
                                </span>
                                <span *ngIf="item.mailsent ==0" style="color:red;">
                                  <b>No</b>
                                </span>
                              </td>
                              <td>
                                <input type="text" class="form-control input-sm color_black" #email
                                  value="{{item.email}}">
                              </td>
                              <td>
                                <button
                                  (click)="updatecontact(item._id,name.value,company.value,contact.value,email.value)"
                                  class="smartremovebtn">
                                  <img src="assets/img/smartremove.png">
                                </button>
                              </td>

                            </tr>

                            
                          </tbody>
                        </table>
                        <div *ngIf='empty' class="empty">{{empty}}</div>
                      </div>

                      <div  *ngIf='!empty' class="col-lg-6">
                        <a (click)="deletecontact()">
                          <button class="delbtn"> Delete</button>
                        </a>
                      </div>
                      <div class="col-lg-6 pagination">
                        <a *ngIf='showprev' (click)="pageination('p')">
                          <button class="prebtn"> Previous</button>
                        </a>
                        <a *ngIf='shownext' (click)="pageination('n')">
                          <button class="nxtbtn"> Next</button>
                        </a>
                      </div>
                      <div class="col-lg-12">
                        <div class="smartrules">
                          <p class="smartp">1. Select from contact list and click compose to send your email, you can
                            select multiple contacts to share an email including attachments.</p>
                          <p class="smartp">2. To update contact list fill in information and click save. ( email and
                            contact info mandatory )</p>
                          <p class="smartp">3. Click Download for CSV format and a copy of your updated contact list.
                          </p>
                          <p class="smartp">4. To upload your contact list click upload then select your CSV file.</p>
                        </div>
                      </div>

                    </div>

                  </div>


                  <!-- /tab-content -->


                </div>
              </div>

              <div class="clearfix"></div>

            </div>

          </div>

        </div>

      </div>


      <div class="shade">

        <div class="popmsg">

          <p style="color:#FFFFFF; text-align:center;font-weight:900;font-size:16px;padding:10px 0; margin:0;" id="ses">
          </p>

        </div>

      </div>
    </div>
  </div>
</section>


<footer>
  <div class="container">
    <div class="col-md-2 col-sm-2 col-xs-12">
      <div class="msgimgdiv">
        <img src="assets/img/chat.png" />
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12">
      <div class="copyrighttext">
        <p>COPYRIGHT &copy; 2018.ALL RIGHTS RESERVED</p>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12">
      <div class="social-icondiv">
        <ul>
          <li>
            <a>
              <img src="assets/img/insta.png" />
            </a>
          </li>
          <li>
            <a>
              <img src="assets/img/fb.png" />
            </a>
          </li>
          <li>
            <a>
              <img src="assets/img/twitter.png" />
            </a>
          </li>
          <li>
            <a>
              <img src="assets/img/google-plus.png" />
            </a>
          </li>
          <li>
            <a>
              <img src="assets/img/you.png" />
            </a>
          </li>
          <li>
            <a>
              <img src="assets/img/test.png" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
