.formdiv .form-group input {
    
    position: relative;
    border-radius: 0px !important;
    color: #000 !important;
    height: 44px;
}
a.navbar-brand {
    width: 40% !important;
    text-align: center;
    height: 130px !important;
    padding: 0px !important;
    display: grid;
    justify-content: center;
    align-items: center;
}
.tooltip12[_ngcontent-c2] {
    border: 1px solid #fff;
    margin: 12px 0px;
}
.jsttext {
    margin-bottom: 6px;
    margin-top: 12px;
}
a.reg {
    width: 48%;
    margin: 0 auto;
    float: left;
    margin: 0 auto;
}
button.signup[_ngcontent-c4] {
    float: right;
}
a.reg button.signup[_ngcontent-c2] {
   float:right;
   background: transparent;
   border: 0px;
   padding: 0px;
}
button.signup {
    padding: 0px;
    border: 0px;
}
button.signup {
    float: right;
}
button.signup[_ngcontent-c2] {
    float: right;
}
a.login {
    width: 48%;
    margin: 0 auto;
    float: right;
    margin: 0 auto;
}
a.login button.signin {
    float: left;
    background: transparent;
    border: 0px;
    padding: 0px;
}
.ezeelogintext {
    font-size: 60px;
}
.ezeelogintext_new{
    width: 100%;
    float: left;
    padding: 0px 10px;
    text-align: center;
    border: 2px solid #fff;
    margin-bottom: 45px;
    margin-top: 35px;
}
button.pulse-button.pulse.green.login2btn,button {
    padding: 0px !important;
    border: 0px !important;
}
.ezeelogintext,.ezeelogintext span {
    margin-left: 4px;
    text-transform: uppercase;
    color: #fff;
}
.ezeelogintext span {
    font-family: 'bod_pstc_1' !important;
    font-size: 57px;
}
button.signup,button.signin {
    width: 80% !important;
} 
.loginform-outerdivlr {
    padding: 37px 52px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    color: #fff;
    background-repeat: no-repeat;
    background-image: url(../../assets/img/lock-back.png); 
    background-size: cover;
    display: flow-root;
    margin-top: 6%;
    margin-bottom: 17%;
}
.ng-dirty .ng-touched .ng-valid {
    background-color: #fff !important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
}
a.nav-link {
    width: 123px;
    margin-left: 27px;
}
.logimg {
    text-align: center;
    padding: 230px 20px;
}
span.tooltiptext.camera {
    margin-top: 29px;
}
.logimg img {
    width: 55%;
}
.formdiv .signbtn,button.pulse-button.pulse.green.login2btn[_ngcontent-c2] {
    padding: 0px !important;
    border:  0px !important;
}


.hdrsec {
    padding: 0;
}

/*footer end*/


/*responsive css start*/
@media only screen and (max-width: 2560px) and (min-width: 1600px) {
    .formdiv .form-group p a{
        color: #fff;
    }
    .my-container {
        margin-top: 5%;
    }
    .formdiv .form-group p a:hover{
        color: #fff;
    }
    .tooltip124 .tooltiptext1{
        width: 226px !important;
        padding: 10px 0 !important ;
        margin-left: -120px !important;
        font-size: 17px !important;
    }
    .checkmark {
        height: 20px !important;
        width: 20px !important;
        top: 0px !important;
    }
    .container56 .checkmark:after {
        left: 8px !important;
        top: 3px !important;
    }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
    .container {

        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 320px) {
    .logoimg img {
        width: 100%;
        padding:10px !important;
    }
    .hdrsec {
        background-position-x: -20px;
    }
    .remember, .forgot {
        font-size: 17px !important;
    }
}

.hdrsec {
    padding: 0;
}

@media only screen and (max-width: 1301px) and (min-width: 1151px) {
    .hdrsec {
        background-position-x: 0;
    }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    .logimg {
        text-align: center;
        padding: 10px 0;
    }
    .loginform-outerdiv[_ngcontent-c2] {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .loginform-outerdiv {
        margin: 0px;
        max-width:100% !important;
    }
    .ezeelogintext p {
        width: 100%;
        margin: 0;
        padding: 8px 0;
        margin-bottom: 0px;
        font-size: 18px;
    }
    .ezeelogintext img {
        width: 43px;
        top: -5px;
    }
    .formdiv form {
        width: 100%;
        padding: 0;
    }
    .formdiv .form-group p {
        text-align: center;
        font-size: 13px;
    }
    .formdiv .signbtn {
        width: 100%;
        margin: 10px 0;
        font-size: 16px;
    }
    .socialbtns {
        padding: 0
    }
    .formdiv {
        padding-bottom: 0px;
    }
    .msgimgdiv {
        text-align: center;
    }
    .copyrighttext p {
        line-height: 1.5;
    }
    .social-icondiv ul li img {
        width: 40px;
    }
    .social-icondiv {
        text-align: center;
    }
    .drpnw {
        display: none;
    }
    .fropicture .regimg {
        width: 79px;
        top: 9px;
    }
    .logimg img {
        width: 175px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .ezeelogintext p {
        width: 100%;
        margin-bottom: 20px;
        margin: 0;
    }
    .socialbtns {
        padding: 0;
    }
    .social-icondiv ul li img {
        width: 30px;
    }
    .formdiv {
        padding-bottom: 0px;
    }
    .drpnw {
        top: inherit;
        width: 226px;
        display: none;
    }
    .loginbtn {
        width: 78px;
        margin: 0 10px;
    }
    .signdiv button {
        width: 100% !important;
    }
    .copyrighttext p {
        font-size:14px;
    }
    .formdiv[_ngcontent-c2] form[_ngcontent-c2] {
        padding: 0 22px;
    }
    .remember, .forgot {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 992px) {
    .socialbtns {
        padding: 0;
    }
    .social-icondiv ul li img {
        width: 30px;
    }
}


/*responsive css end*/

.tooltip12 {
    /*position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;*/
}

.tooltip12 .tooltiptext {
    /* visibility: hidden; */
    width: 170px;
    /*background-color: black;*/
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -86px;
    top: 46px !important;
	font-weight:bold;
}
/* 
.tooltip12:hover .tooltiptext {
    visibility: visible;
} */


/* internal css */

.tooltip-inner {
    width: 125px;
    background: #b59848;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    font-weight: bolder;
    height: auto;
}

.largefilep {
    position: fixed;
    width: 100%;
    opacity: 0.6;
    filter: alpha(opacity=60);
    top: 0px;
    min-height: 200px;
    height: 100%;
    z-index: 9999999999;
    background: #2c846d;
    font-size: 20px;
    text-align: center;
    display: none;
}

.encryptfilep {
    position: fixed;
    width: 100%;
    opacity: 0.6;
    filter: alpha(opacity=60);
    top: 0px;
    min-height: 200px;
    height: 100%;
    z-index: 9999999999;
    background: #5b4f71;
    font-size: 20px;
    text-align: center;
    display: none;
}

.digitalfilep {
    position: fixed;
    width: 100%;
    opacity: 0.6;
    filter: alpha(opacity=60);
    top: 0px;
    min-height: 200px;
    height: 100%;
    z-index: 9999999999;
    background: #96450e;
    font-size: 20px;
    text-align: center;
    display: none;
}


/*.carousel-inner {
  height: 315px;
}	*/

.dropdown-menu {
    left: 25%;
    min-width: 100px;
    margin-top: 0%;
}

.caret {
    color: #b49948;
}

@media screen and (min-width: 1920px) {
    .latest-trend-box a img {
        width: 195px;
    }
}

@media screen and (max-width: 699px) {
    .hide_mob {
        display: none;
    }
}

@media screen and (min-width: 699px) {
    .lm {
        display: none;
    }
}

.newrecap {
    margin: 20px 0 0 !important;
}


/* The container */

.container56 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container56 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #6a4916;
}


/* On mouse-over, add a grey background color */

.container56:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container56 input:checked~.checkmark {
    background-color: #715732;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container56 input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container56 .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* beating button css end */

button#fclose {
    background: #050505;
    color: #fff;
    position: absolute;
    right: 6px;
    top: 5px;
    opacity: 1;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    right: -15px;
    top: -15px;
}




/* tooltip */

.tooltip124 .tooltiptext1 {
    visibility: hidden;
    width: 240px;
    background-color: #b59848;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 86%;
    left: 39.4%;
    margin-left: -60px;
    transition: opacity 0.3s;
    text-transform: lowercase;
    font-size: 18px; 
}
.tooltip124 .tooltiptext1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 13px;
    border-style: solid;
    border-color: #b59848 transparent transparent transparent;
}
.tooltip124:hover .tooltiptext1{
    visibility: visible;
} 
.navbar-left {
  width: 30%;
  float: left;
  height: 134px !important;
  display: grid;
  justify-content: center;
  align-items: center;
}
.navbar-right {
  width: 30%;
  float: right;
  display: grid;
  height: 134px !important;
  justify-content: center;
  align-items: center;
}
.capimg{
    width: 100%;
    float: left;
    height: 379px;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 9px;
}
.capimg img{
    width: 110px;
    position: absolute;
    top: 0px;
    bottom: 12px;
    right: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
}

button.new_sign_div {
    background: transparent ;
    border: 0 ;
    width: 100%;
}
button.new_sign_div img {
    
    
    width: auto;
}
.or_and_sign { font-size: 20px;  text-align: center; color :#fff; font-weight: 700; text-transform: none;}
.or_and_sign p { margin-bottom: 0; margin-top: 10px}
.or_and_sign a { color :#fff;}