
<section class="hdrsec">
    <div class="logoimg">
        <a routerLink='/'><img src="../../assets/img/ezee-logo.png" /></a>
    </div>




</section>

<section class="fullpage">
    <div class="container">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        <a  (click)="backClicked()" class="top_back_button"><i class="fa fa-caret-left"></i><span>Back</span></a>
                    </div>
                    <div class="col-xs-6 text-right">
                        <div class="new_custom_drop_down" style="z-index: 1;max-width: 250px;min-width: 250px;">
                            <li class="dropdown" dropdown>
                                <i class="fa fa-user list5" aria-hidden="true"></i> &nbsp;<span class="title">{{fullname}} &nbsp;</span>
                                <a style="cursor: pointer;" class="dropdown-toggle" dropdownToggle>
                                    <div class="downarrow mobiledownarrow"><b class="caret"></b></div>
                                </a>
                                <ul *dropdownMenu class="my_drop_down">
                                    <li><a (click)="logout();">Logout</a></li>
                                    <li><a routerLink="/profile">View Profile</a></li>
                                    <li id=""><a>Change Password</a></li>
                                    <li><a>Membership Order</a></li>
                                </ul>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




<div class="container">

    <div class="row mt_class">
        <div class="col-lg-3 col-md-3 col-xs-12 mobilepd">

            <!--Instructions & logo part start-->

            <div style="display:block; margin:0 auto;" class="col-lg-12 mobilepd">

                <a routerLink="/landing" data-placement="right" data-toggle="tooltip" data-original-title="">
                    <span class="pt51 pt567 mobilehomebtn">
                       <span class="fa fa-home"></span> Home
                    </span>
                </a>
            </div>

            <a>
                <img class="img-responsive compose_lock_image" src="../../assets/img/home-02.png" style="margin-top:10%;" alt="" data-placement="right">
            </a>
            <div class="wrapper2">
                <li style="list-style:none; cursor:pointer;" class="toggle">
                    <a style="cursor: pointer;" class="list-part2 mobilehomebtn" (click)="showinstructions = !showinstructions" data-placement="right">
                        <span class="title2">INSTRUCTIONS</span>
                    </a>
                    <ul *ngIf="showinstructions" class="drop-popup mydroppopup">
                        <div class="arrow-top"><img src="../../assets/img/arrow-top.png"></div>
                        <div class="inst-popup instnew" style="font-family: Century Gothic; font-size: 14px; text-align: left; font-weight: bold; color: #333;">
                            <ul style="list-style: none; padding: 0;">
                                <li style="margin-bottom: 10px;">Step 1: Upload or drag and drop PDF file.</li>
                                <li style="margin-bottom: 10px;">Step 2: Check box, if you require an expiration date (not mandatory).</li>
                                <li style="margin-bottom: 10px;">Step 3: Add participants.</li>
                                <li style="margin-bottom: 10px;">Step 4: You can rearrange signing order under "priority". Click on arrow up or down to change signing order (not mandatory). Click next to complete.</li>
                            </ul>
                        </div>
                    </ul>
                </li>
            </div>
            <div class="clearfix"></div>
            <!--Instructions & logo part end-->

        </div>

        <div class="col-lg-9 col-md-9 col-xs-12">
            <div class="inner-part8" style="box-shadow:none !important; background-color: rgb(90,115,27) !important;">
                <div class="col-lg-12 p_bottom">
                    <div class="col-lg-12">
                        <p class="smartheading_new">Electronic <span>signature</span></p>
                    </div>
                </div>

                <div class="col-lg-12">

                    <div class="tabs-left">



                        <!-- <ul class="nav nav-tabs6">
                        </ul>-->
                        <ul class="nav nav-tabs6">

                            <li class="" style="z-index:1"><a routerLink="/digital_sign/{{digitalpath}}"><span class="iconimg"><img src="assets/img/pdficon.png"/></span>&nbsp;&nbsp;<span class="pt6">Compose</span></a></li>

                            <li class="" style="z-index:1"><a routerLink="/actionrequired"><span class="iconimg"><img src="assets/img/x.png"/></span>&nbsp;&nbsp;<span class="pt6">Action Required</span></a></li>

                            <li class="" style="z-index:1"><a routerLink="/completed"><span class="iconimg"><img src="assets/img/right.png"/></span>&nbsp;&nbsp;<span class="pt6">Completed</span></a></li>

                            <li class="active" style="z-index:1"><a routerLink="/contact_list"><span class="iconimg"><img src="assets/img/usersicon.png"/></span>&nbsp;&nbsp;<span class="pt6">Contact</span></a></li>

                        </ul>
                        <div id="myTabContent" class="tab-content">

                            <div class="tab-pane1 active" id="home">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="table-responsive">
                                        <!-- <form id="mailform" method="post" action="#">-->
                                        <div id="loader-icon" style="display:none;"><img src="./contactlist_files/loadingnew.gif"></div>
                                        <table class="table table-bordered table-hover table-striped" id="hor-zebra1">
                                            <thead>
                                                <tr class="digital">
                                                    <th>
                                                        <div class="checkbox">
                                                            <label class="new_checkbox_2">
                                                              <input type="checkbox" [checked]="isAllChecked()" (change)="checkAll($event)">
                                                              <!-- <input type="checkbox" > -->
                                                              <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </th>
                                                    <th style="width:20%;">First Name</th>
                                                    <th style="width:21%;">Last Name </th>
                                                    <th style="width:24%;">E-mail</th>
                                                    <th style="width:30%;">Address</th>
                                                    <th style="width:15%;">Edit/Save</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of contactdetail">
                                                    <td style="width:20%;">
                                                        <div class="checkbox">
                                                            <label class="new_checkbox_2">
                                                                <input type="checkbox" value="{{item._id}}" [(ngModel)]="item.selected">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="width:21%;"><input type="text" class="form-control input-sm" #fname value="{{item.firstName}}"></td>
                                                    <td style="width:24%;"><input type="text" class="form-control input-sm" #lname value="{{item.lastName}}"></td>
                                                    <td style="width:30%;"><input type="text" class="form-control input-sm" #contactupemail value="{{item.email}}"></td>
                                                    <td style="width:15%;">
                                                        <input type="text" class="form-control input-sm" #address value="{{item.address}}">
                                                    </td>
                                                    <td style="width:15%;">
                                                        <button class="smartremovebtn" (click)="updatecontact(item._id);">
                                                            <img src="assets/img/smartremove.png">
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- </form>-->
                                        <div id="top_tip_relative" class="col-lg-6" style="margin-top: 10px; margin-left: -3%;">
                                            <a routerLink="javascript:void(0)" (click)="deletecontact()">
                                                    <button _ngcontent-c17="" class="delbtn"> Delete</button>
                                                <div class="tol-tip_sec">
                                                    click check box and delete the record
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /tab-content -->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shade">
            <div class="popmsg">
                <p style="color:#FFFFFF; text-align:center;font-weight:900;font-size:16px;padding:10px 0; margin:0;" id="ses"></p>
            </div>
        </div>
    </div>

</div>
</section>

<footer id="footer">
    <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-12">
            <div class="msgimgdiv">
                <img src="../../assets/img/chat.png" />
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="copyrighttext">
                <p>COPYRIGHT &copy; 2018.ALL RIGHTS RESERVED</p>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="social-icondiv">
                <ul>
                    <li>
                        <a>
                            <img src="../../assets/img/insta.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/fb.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/twitter.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/google-plus.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/you.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/test.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<style>
    div#top_tip_relative {
        overflow: visible !important;
        height: 130px !important;
    }
    
    .tol-tip_sec {
        display: none;
    }
    
    #top_tip_relative a:hover .tol-tip_sec {
        display: block !important;
        position: absolute;
        top: 45px;
        width: 130px !important;
        background: #b49948;
        text-align: center;
        padding: 8px;
        z-index: 1111 !important;
        color: #fff;
        font-weight: 600;
        border-radius: 3px;
    }
    
    .tol-tip_sec::before {
        content: "fg";
        position: absolute;
        /* top: -8px; */
        /* background: red; */
        left: 0;
        right: 0;
        width: 20px;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 0;
        height: 0;
        border-bottom: 8px solid #b49948;
        border-top: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        text-align: center;
        margin: 0 auto;
    }
</style>