<section class="hdrsec">
  <div class="logoimg">
      <!-- <img src="../../assets/img/ezee-logo.png"/> -->
      <a routerLink='/'><img src="../../assets/img/ezee-logo.png"/></a>
      
  </div>
</section>
<div class="col-md-6 col-md-offset-3" style="margin-top: 50px; margin-bottom: 50px;">

			          

						 
						

  <div style="text-align:left; line-height:25px;">

  


<div class="boombox" style="border:5px solid #858f03 !important; width:100% !important; padding:10px !important;">
<p class="txt-1" style="background: #858f03;text-align: center;padding: 5px 2px;color: #fff; font-weight: 600">Thank you for using <span style="text-transform:none;">EZEEBOSS Sign system!</span></p>
<div style="text-align:left; line-height:25px; font-weight: 600">

You have exited EZEEBOSS Signing Process.<br>
You must return to the original email to restart the original signing process.<br>
If you have any questions regarding the EZEEBOSS Signing process please contact:<br>

<br>



</div>
</div>


</div>







</div>