<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/signature.css">
<!-- <link rel="stylesheet" href="assets/css/mycustom.css">  -->


<section class="hdrsec">
    <div class="logoimg">
        <a routerLink='/'><img src="../../assets/img/ezee-logo.png" /></a>
    </div>
</section>

<section>

    <div class="col-md-2"> <img _ngcontent-c2="" alt="" class="img-responsive" src="../../assets/img/home-03.png">
    </div>

    <div id="dwv" class="col-md-10" style="text-align: center;">
        <!-- <div class="col-md-9 col-sm-12 single_view">
    <div class="dropBox"></div>
    <canvas class="imageLayer">Only for HTML5 compatible browsers...</canvas>
    <div class="drawDiv"></div>
  </div> -->
        <div class="col-md-9 col-sm-12 single_view layerContainer">
            <!-- <div class="dropBox"></div> -->
            <canvas class="imageLayer">Only for HTML5 compatible browsers...</canvas>
            <!-- <div class="drawDiv"></div> -->
        </div>


        <div class="col-md-3 col-sm-12 z_btn">
            <button class="zoom_b" *ngFor="let tool of tools" (value)="tool" (click)="onChangeTool(tool)">{{ tool }}</button>
            <!-- <button class="zoom_b"><i class="fa fa-plus z_m" aria-hidden="true"> </i> Zoom </button>    -->
        </div>
    </div>




</section>


<footer id="footer">
    <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-12">
            <div class="msgimgdiv">
                <img src="../../assets/img/chat.png" />
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="copyrighttext">
                <p>COPYRIGHT &copy; 2018.ALL RIGHTS RESERVED</p>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="social-icondiv">
                <ul>
                    <li>
                        <a>
                            <img src="../../assets/img/insta.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/fb.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/twitter.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/google-plus.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/you.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/test.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>