<link rel="stylesheet" href="assets/css/signature.css">

<section class="hdrsec">
    <div class="logoimg">
     <a routerLink='/'>
     <img src="../../assets/img/ezee-logo.png" />
     </a>   
    </div>
</section>

<div id="fh5co-pricing" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Plan &amp; Pricing</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
        </div>
        <div class="row">
            <div class="pricing pricing--rabten">
                <div class="col-md-4 animate-box">
                    <div class="pricing__item">
                        <div class="wrap-price">
                            <h3 class="pricing__title">Trial</h3>
                        </div>
                        <div class="pricing__price">
                            <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">$</span>0
                            </span>
                            <span class="pricing__anim pricing__anim--2">
								<span class="pricing__period">per year</span>
                            </span>
                        </div>
                        <div class="wrap-price">
                            <ul class="pricing__feature-list">
                                <li class="pricing__feature">One Day Trial</li>
                                <li class="pricing__feature">Limited Courses</li>
                                <li class="pricing__feature">Free 3 Lessons</li>
                                <li class="pricing__feature">No Supporter</li>
                                <li class="pricing__feature">No Tutorial</li>
                                <li class="pricing__feature">No Ebook</li>
                                <li class="pricing__feature">Limited Registered User</li>
                            </ul>
                            <button class="pricing__action">Choose plan</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="pricing__item">
                        <div class="wrap-price">
                            <h3 class="pricing__title">Silver</h3>
                        </div>
                        <div class="pricing__price">
                            <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">$</span>79
                            </span>
                            <span class="pricing__anim pricing__anim--2">
								<span class="pricing__period">per year</span>
                            </span>
                        </div>
                        <div class="wrap-price">
                            <ul class="pricing__feature-list">
                                <li class="pricing__feature">One Year Standard Access</li>
                                <li class="pricing__feature">Limited Courses</li>
                                <li class="pricing__feature">300+ Lessons</li>
                                <li class="pricing__feature">Random Supporter</li>
                                <li class="pricing__feature">View Only Ebook</li>
                                <li class="pricing__feature">Standard Tutorials</li>
                                <li class="pricing__feature">Unlimited Registered User</li>
                            </ul>
                            <button class="pricing__action">Choose plan</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="pricing__item">
                        <div class="wrap-price">
                            <h3 class="pricing__title">Gold</h3>
                        </div>
                        <div class="pricing__price">
                            <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">$</span>499
                            </span>
                            <span class="pricing__anim pricing__anim--2">
								<span class="pricing__period">per year</span>
                            </span>
                        </div>
                        <div class="wrap-price">
                            <ul class="pricing__feature-list">
                                <li class="pricing__feature">Life Time Access</li>
                                <li class="pricing__feature">Unlimited All Courses</li>
                                <li class="pricing__feature">7000+ Lessons &amp; Growing</li>
                                <li class="pricing__feature">Free Supporter</li>
                                <li class="pricing__feature">Free Ebook Downloads</li>
                                <li class="pricing__feature">Premium Tutorials</li>
                                <li class="pricing__feature">Unlimited Registered User</li>
                            </ul>
                            <button class="pricing__action">Choose plan</button>
                        </div>
                        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<footer>
    <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-12">
            <div class="msgimgdiv">
                <img src="../../assets/img/chat.png" />
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="copyrighttext">
                <p>COPYRIGHT &copy; 2018.ALL RIGHTS RESERVED</p>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="social-icondiv">
                <ul>
                    <li>
                        <a>
                            <img src="../../assets/img/insta.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/fb.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/twitter.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/google-plus.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/you.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/img/test.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>