<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image outerimgbox">
                <div class="imgsize">
                    <img src="https://ezeeboss.com:3001/images/{{userid}}/{{image}}" alt="User Image">
                </div>
            </div>
            <div class="pull-left info">
                <p><img src="assets/img/profileicon.png" class="profileimg" /> {{fullname}} <a routerLink="/profile"><span> <img src="assets/img/editicon.png" class="profileimg" /></span></a></p>
                <div class="numtxt">{{phonenumber}}</div>
           
            </div>
        </div>
      
        <ul class="sidebar-menu" data-widget="tree">
            
            <li class=" treeview" >
                    <a routerLink="/UserHomeDashboardComponent">
                        <img src="assets/img/homeicon.png"/> <span>Dashboard</span>
                    
                    </a>
                </li> 
            <li class="treeview" routerLinkActive="active">
                <a routerLink="/dashboard">
                    <img src="assets/img/newdocicon.png"/> <span>New Document</span>
              
                </a>
            </li>
            <li class="treeview" routerLinkActive="active">
                <a routerLink="/completeddoc">
                    <img src="assets/img/completedicon.png"/> <span>Completed Documents</span>
                   
                </a>
            </li>
            <li class="treeview" routerLinkActive="active">
                <a routerLink="/pendingdoc">
                    <img src="assets/img/pendingicon.png"/> <span>Pending Documents</span>
                   
                </a>
            </li>
   


        </ul>
        <div class="sidefooter">
            <div class="col-md-6 col-sm-6 col-xs-6 leftflt"><a routerLink=""><i class="fa fa-cog" aria-hidden="true"></i></a></div>
            <div class="col-md-6 col-sm-6 col-xs-6 rigtflt"><a routerLink=""><i class="fa fa-power-off" aria-hidden="true"></i></a></div>
        </div>
    </section>
    <!-- /.sidebar -->
</aside>