<header class="main-header">
    <nav class="navbar navbar-static-top padd_header">
        <!--<h1 class="electronic_header">Dashboard</h1>-->
        <!-- <a (click)="backClicked()" class="dashboard_home"><i class="fa fa-angle-left"></i>Back</a> -->
        <a routerLink='/landing' class="dashboard_home"><i class="fa fa-home"></i>Home</a>
        <!-- Sidebar toggle button-->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a routerLink='/landing' data-toggle="control-sidebar" class="smartheading_new">
                        Ezee<span>Boss</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

