


        <!-- Main content -->
        <section class="content1">
            <!-- /.row -->
            <div class="col-sm-12">
              <div class="col-sm-12 text-left">
                <a (click)="backClicked()"  class="inner_back"><i _ngcontent-c3="" class="fa fa-angle-left"></i>Back</a>
              </div>
            </div>
            <div class="outermost">
                <div class="col-md-6 col-sm-6 col-xs-12">
                   
                      <div class="using_img"> <a style="text-decoration: none; color:#fff" (click)="opendocument('wi')" class="outeranchor">
                        <h3>Easy Sign And Share<br> Using Image & Video System </h3> </a>
                        <div class="bottomicon">
                            <a  (click)='hideshow()'><img src="assets/img/information_img.png" /></a>
                        </div>
                      </div>
                   
                    <div *ngIf="hide"  class="outerboxinfo">
                      <div class="triangle-up"></div>
                      <div class="infoxbox">
                        Share a highly secured document with your recipent(S) and capture their image & video while signing.
                      </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 w_u">
                   
                      <div class="using_img">
                            <a style="text-decoration: none; color:#fff" (click)="opendocument('ni')" class="outeranchor">
                        <h3>Easy Sign And Share<br> Without Using Image & Video System </h3>  </a>

                        <div class="bottomicon">
                            <a (click)="hidealso()"><img src="assets/img/information_img.png" /></a>
                        </div>
                      </div>
                  
                    <div *ngIf="hideme" class="outerboxinfo">
                      <div class="triangle-up"></div>
                      <div class="infoxbox">
                        Create and share a highly secured document with your recipent(S) 
                        and capture their image, video and their signing location imression in the recipt. 
                        Be assured that you and your recipient(S) has image capuring capabilities 
                        in their system while choosing this option.
                      </div>
                    </div>
                </div>

                <!-- <div class="col-md-3"></div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="captureimg">
                            <img src="../../assets/img/images.png"/>
                            
                            <div class="capimg tooltip12">
                                <div>
                                    <span class="tooltiptext">
                                        Click on camera icon to capture your image
                                        <br />
                                        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <img type="button" src="../../assets/img/camm11.png" class="regimg" />
                                    
                            </div>
                        </div>
                    </div>
                <div class="col-md-3"></div> -->

            </div>
        </section>

    <!-- </div> -->
      <!-- <app-footer></app-footer> -->
    <!-- Control Sidebar -->
    <!-- <app-control-slider></app-control-slider> -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
<!-- </div> -->