
<section class="hdrsec">
      <ng4-loading-spinner  [timeout]="440000" [template]="template" class="imgcenter" [zIndex]="9999">
         </ng4-loading-spinner>                                                     
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="navbar-left" style="visibility: hidden;">
                <ul class="navbar-nav"> 
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/register'>
                          <img src="../../assets/img/sign-up.png">
                      </a>
                    </li>
                    <li class="nav-item">
                          <a class="nav-link" routerLink='/login'>
                           <img src="../../assets/img/log-in.png">
                          </a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" >
                <a routerLink='/'>
                <div class="logoimg">
                        <img style="margin-top: 0px;" src="../../assets/img/ezee-logo.png" />
                    </div>
                </a>
            </a>
            <div class="navbar-right" id="navbar1"></div>
        </nav>
    </div>
</section>
<div class="container">
   <!-- <div class="col-md-5 col-sm-5 col-xs-12">
      <div class="logimg-login">
         <a>
         <img src="../../assets/img/login1.png" />
         </a>
      </div>
   </div> -->
   <div class="col-md-6 col-md-offset-3 col-xs-12">
      <div class="loginform-outerdivlr">                
          <div class="formdiv form-sps">
              <div class="ezeelogintext ezeelogintext_new">
                  Reset<span> Password</span>
              </div>
              <form (submit)="changepwd()" #formCtrl="ngForm" name="myForm">
                  <label for="password" style="font-weight: normal">New Password</label>
                  <input type="password" class="form-control" (focus)="isFocused()" id='password' (blur)='blurr()' (keyup)='checkpassword()' name="password" placeholder="Password*" [(ngModel)]="password" required>
                  <span class="error" id="error_txtNewPassword"></span>
                  <div id="pwd_strength_wrap">
                      <!-- <div id="passwordDescription" class="errorp">Password not entered</div> -->
                      <div id="passwordStrength" class="strength0"></div>
                      <div class="pwdrules" *ngIf="jagveer">
                          <div class="errorline" [ngClass]="{'strongpassword': passworderrorr=='Strong'}">{{passworderrorr}}</div>
                          <div class="strength0"></div>
                          <div class="myrulesli">
                              <strong>Strong Password Tips:</strong>
                             <ul>
                                <li class="invalid">At least 8 characters</li>
                                <li class="invalid">At least one number</li>
                                <li class="invalid">At least one lowercase &amp; one uppercase letter</li>
                                <li class="invalid">At least one special character</li>
                             </ul>
                          </div>
                          <!-- END pswd_info -->
                      </div>
                      <!-- END pswd_info -->
                  </div>
                  <br>
                  <label for="password" style="font-weight: normal">Confirm Password</label>
                      <input type="password" class="form-control gt" id='cpassword' (blur)='cpassword()' name="cpassword" placeholder="Confirm Password*" [(ngModel)]="cpassword" required>
                      <label></label>
                        <div class="error-msg-div" *ngIf="cpassworderror" style="color: #a94442 !important; ">
                           <span class="error-msg">{{cpassworderror}}</span>
                        </div>
                          <br>
                          <div class="col-md-12 col-sm-12 col-xs-12 nopadding new_reset">
                              <button [disabled]="!formCtrl.form.valid" type="submit" class="new_sign_div"> 
                                  <!-- <div class="green img_b">
                                      <img src="../../assets/img/ezee-wyt.png" />
                                  </div> -->
                                  <img src="../../assets/img/reset_password.png" />
                              </button>
                          </div>
                          <div *ngIf="!cpassword == password" class="col-md-12 col-sm-12 col-xs-12 nopadding new_reset">
                              <button [disabled]="cpassword == password" type="submit" class="btn ">
                                  <div class="green img_b">
                                      <img src="../../assets/img/ezee-wyt.png" /> 
                                  </div>
                                  <span> Reset Password</span> 
                              </button>
                          </div>
                          <!-- </div> -->
                          <div class="error-msg-div" *ngIf="error">
                              <span class="error-msg">{{error}}</span>
                          </div>
            </form>
          </div>
      </div>
  </div>
</div>
<modal #sucess [hideCloseButton]="true" [closeOnOutsideClick]="false">
<modal-content>
   <div class="modal-dialog" role="document">
      <div class="modal-content forgot_password_popup modal-lg modal_f_auto" style="border-radius:0px; border: 10px solid #494d49;">
         <div class="modal-headerr" style="border:0px;">
            <!--data-dismiss="modal" aria-label="Close"-->
            <button type="button" id="fclose" class="close">
               <!-- <span aria-hidden="true">×</span> -->
            </button>
            <h4 class="modal-title forget_passs" id="exampleModalLabel"><span style=" font-family:'Century Gothic';">Password Changed Sucessfully, please login to continue </span></h4>
         </div>
         <div class="modal-body" style="border:0px;">
            <div class="form-group">
               <!-- <form class="form-horizontal" name="forgotlogin" id="forgotlogin" method="post" style=""> -->
               <span id="success" style="font-size:15px; color:#00CC33"></span>
               <div class="col-lg-12" style="padding-top:10px; text-align:center; ">
                  <input type="button" class="btn btn-success bg" style="width: 70%; font-size:19px;" value="Success" (click)="success()" name="forgotsubmit">
               </div>
               <!-- </form> -->
            </div>
         </div>
         <div class="modal-footer" style="border:0px;">
         </div>
      </div>
   </div>
</modal-content>
</modal>
<footer>
   <div class="container">
      <div class="col-md-2 col-sm-2 col-xs-12">
         <div class="msgimgdiv">
            <img src="assets/img/chat.png" />
         </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
         <div class="copyrighttext">
            <p>COPYRIGHT &copy; 2018.ALL RIGHTS RESERVED</p>
         </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
         <div class="social-icondiv">
            <ul>
               <li>
                  <a>
                  <img src="assets/img/insta.png" />
                  </a>
               </li>
               <li>
                  <a>
                  <img src="assets/img/fb.png" />
                  </a>
               </li>
               <li>
                  <a>
                  <img src="assets/img/twitter.png" />
                  </a>
               </li>
               <li>
                  <a>
                  <img src="assets/img/google-plus.png" />
                  </a>
               </li>
               <li>
                  <a>
                  <img src="assets/img/you.png" />
                  </a>
               </li>
               <li>
                  <a>
                  <img src="assets/img/test.png" />
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</footer>