.logimg{
    text-align: center;
    padding: 130px 20px;
}
.logimg img{
    width: 200px;
}

.small-space {
	width:100%;
	float:left;
	margin:25px 0;
}
.medium-space {
	width:100%;
	float:left;
	margin:50px 0;
}
.form_field {
	width:100%;
	float:left;
}
.center-form {
	float:left;
	width:100%;
}
input.custombtn {
	float:left;
	margin:3% 0;
	border-radius:0px; box-shadow:none !important;
}
.table-responsive {
	width:100%;
}
td {
	text-align:center;
}
.content_area {
	width:100%;
	float:left;
}

.btn-primary:hover {
    color: #fff;
    background-color: #b59848;
    
}


.beInContact .subscribe_form {
	padding-left: 29px !important;
}
th {
	text-align:center;
}
th.list10 { text-align:left; font-weight:normal; width:50%;}

@media screen and (min-width: 1441px) {
#footer {
    position: fixed !important;
}
}

@media screen and (max-width: 767px)
{
.table-responsive {
    width: 90%;
    border: none;
    margin-left: 20px;
  }
  .container .col-md-4.col-sm-6 {text-align: center;}
}
/*footer start*/
.msgimgdiv {
    width: 100%;
    float: left;
}
.msgimgdiv img {
    width: 45px;
    padding-top: 5px;
}
.copyrighttext{
    text-align: center;
}
.copyrighttext p{
   margin: 0;
    line-height: 4.3;
}
footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    padding: 2px 0px 0 0 !important;
    width: 100%;
    border-top: 2px solid #b59848;
    border-bottom: 2px solid #b59848;
    float: left;
    position: fixed; bottom:0; z-index: 99;
}
.social-icondiv{
    width: 100%;
    float: left;
    text-align: right;
}
.social-icondiv ul li{
    display: inline-block;
    line-height: 4;

}
.social-icondiv ul{
    padding: 0;
    margin: 0;
}

img.ng-untouched.ng-pristine.ng-valid {
    width: 100%;
}
video {
    width: 300%;
}
/*footer end*/

.um-jap {
    margin-top: 30px !important;
}

p.encryption {
    float: right;
}

.embed-responsive-item{
    border: 2px solid #858f03;
    text-align: center;
}

.bottom-nextbtn{
    background-color: #7a6320;
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    border: none;
}
.bottom-nextbtn:hover, .bottom-nextbtn:active, .bottom-nextbtn:focus{
    background-color: #977f3c;
    color: white;
    border: none;
}
.tofloat{
    float: right;
}
.tablediv thead{
    background-color:#5e6e03;
}
.tablediv{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.tablediv tbody{
    color: #000;
}
.tablediv .table{
    margin: 0;
}

.calbtn{
    padding: 6px 8px !important;
    float: left;
    color: #858f03;
    margin-left: 3px;
    width: 9%;
    background-color: #e8e8e8;
    border: 3px solid #b59848;
}
.calbtn i{
    padding: 0;
    font-size: 18px;
    color: #5e6e03;
}
.calinput{
    float:left;
    width:90% !important;
    border: 3px #b49948 solid !important;
    border-radius: 0;
}
.custommodal {
    border: 1px solid #ccc;
    width: 100%;
    float: left;
    border-radius: 0;
    padding: 0;
}
.custom-mod-cont{
    width: 100%;
    float: left;
}
.myprofile {
    position: relative;
    margin-bottom: 10px;
}
.digitalmodalbody{
    width: 100%;
    display: inline-flex;
}
.selectdigital {
    z-index: 9999;
    display: none;
    border: 1px solid #c7c0a9;
    word-wrap: break-word;
    padding: 5px 10px;
    background: #ded7c1;
    width: 100%;
    color: #7a6320;
    border-radius: 4px;
}
.pdfclose {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 4px;
    right: 12px;
}
.outercross{
    position: relative;
    margin-bottom: 10px;
}
.mobclr, .mobpart{
    width: 100%;
    float: left;
}
.um-jap{
    margin-top: 20px !important;  
}
.box-part{
    margin-bottom: 20px;
}