<!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/signature.css">  -->
<!-- <link rel="stylesheet" href="assets/css/mycustom.css">  -->
<div id="printcontent">
  <section class="hdrsec">
    <div class="logoimg">
      <a routerLink='/'><img src="assets/img/ezee-logo.png" /></a>
    </div>
  </section>

  <section class="fullpage">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 text-right">
        </div>
        <div class="col-xs-9 text-right">
          <div class="row">
            <div class="col-xs-6 text-left">
              <a class="top_back_button" (click)='backClicked()'><i
                  class="fa fa-caret-left"></i><span>Back</span></a>
            </div>
            <!-- menu start -->
            <div class="col-xs-6 text-right">
              <div class="new_custom_drop_down">
                <li class="dropdown" dropdown>
                  <i class="fa fa-user list5" aria-hidden="true"></i> &nbsp;

                  <span class="title">{{fullname}} &nbsp;</span>
                  <a style="cursor: pointer;" class="dropdown-toggle" dropdownToggle>
                    <div class="downarrow mobiledownarrow"><b class="caret"></b></div>
                  </a>
                  <ul *dropdownMenu class="my_drop_down">

                    <li><a (click)="logout();">Logout</a></li>

                    <li><a routerLink="/profile">View Profile</a></li>

                    <li id=""><a>Change Password</a></li>

                    <li><a>Membership Order</a></li>

                  </ul>
                </li>
              </div>
            </div>
            <!-- menu end -->
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt_class">
        <div class="col-lg-3 col-md-3 col-xs-12 mobilepd">
          <!--Instructions & logo part start-->
          <div style="display:block; margin:0 auto;" class="col-lg-12 mobilepd">
            <a routerLink="/" data-placement="right" data-toggle="tooltip" data-original-title="" class="homeanchor">
              <span class="pt51 pt567 mobilehomebtn">
                <span class="fa fa-home"></span> Home
              </span>
            </a>
          </div>
          <a routerLink="">
            <img class="img-responsive compose_lock_image" src="../../assets/img/home-04.png" alt=""
              data-placement="right">
          </a>
          <div class="wrapper2">
            <li style="list-style:none; cursor:pointer;" class="toggle">
              <a style="cursor: pointer;" class="list-part2 mobilehomebtn"
                (click)="showinstructions = !showinstructions" data-placement="right">
                <span class="title2">INSTRUCTIONS</span>
              </a>
              <ul *ngIf="showinstructions" class="drop-popup mydroppopup">
                <div class="arrow-top"><img src="../../assets/img/arrow-top.png"></div>
                <div class="inst-popup instnew"
                  style="font-family: Century Gothic; font-size: 14px; text-align: left; font-weight: bold; color: #333;">
                  <ul style="list-style: none; padding: 0;">
                    <li style="margin-bottom: 10px;">Step 1: Upload or drag and drop PDF file.</li>
                    <li style="margin-bottom: 10px;">Step 2: Check box, if you require an expiration date (not
                      mandatory).</li>
                    <li style="margin-bottom: 10px;">Step 3: Add participants.</li>
                    <li style="margin-bottom: 10px;">Step 4: You can rearrange signing order under "priority". Click on
                      arrow up or down to change signing order (not mandatory). Click next to complete.</li>
                  </ul>
                </div>
              </ul>
            </li>
          </div>
          <div class="clearfix mymsg"></div>
          <!--Instructions & logo part end-->
        </div>
        <div class="col-lg-9 col-md-9 col-xs-12" *ngIf="!forwardmsg">
          <div class="inner-part8" style="box-shadow:none !important;">
            <div class="col-lg-12">
              <div class="col-lg-6">
                <p class="view_mwssage_new">VIEW MESSAGE</p>
              </div>
              <div class="col-lg-6">
                <p class="smartheading_new">encrypted<span>mail</span></p>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="innerviewdiv">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <h3>
                    <span>Subject:</span>&nbsp;&nbsp;{{subject}}
                  </h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <p class="message-date">{{date | amDateFormat: 'MM/DD/YYYY'}}<br></p>
                </div>
                <div class="col-lg-12">
                  <hr class="line">
                  <p>From: <span>&nbsp;&nbsp;{{fromemail}}</span></p>
                </div>
                <div class="col-lg-12">
                  <hr class="line">
                  <p>To: <span>&nbsp;&nbsp;{{toemail}}</span></p>
                </div>
                <div class="col-lg-12">
                  <hr class="line">
                  <div [innerHTML]="innerhtml | safe: 'html'"></div>
                  <div class="attachmentdiv">
                    <p><i class="fa fa-paperclip"></i>&nbsp;&nbsp;{{noofattachment}}&nbsp;&nbsp; Attachment(s)</p>
                    <div class="message-attachment">
                      <!-- <div class="" *ngFor="let item of attachment">
                        <a target="_blank" href="https://ezeeboss.com:3001/mailattachments/{{item.attachments}}">
                          <p class="view_mail_attachment"> {{item.attachmentname}}</p>
                        </a>
                      </div> -->
                   <!-- <a [href]="attachmentLINK"></a>  -->
                   <!-- {{attachmentLINK}} -->
                   <a target="_blank" [href]="attachmentLINK"><p  class="view_mail_attachment"> {{attachment}}</p></a>  
                    </div>
                  </div>
                  <hr class="line">
                </div>
                <div class="message-options pull-right">
                  <!-- <a class="btn backbtn" routerLink="/sentmail">
                        <i class="fa fa-arrow-left">&nbsp;&nbsp;</i>Back
                        </a>   -->
                  <button class="btn backbtn" (click)='backClicked()'> <i class="fa fa-arrow-left">&nbsp;&nbsp;</i>Back
                  </button>
                  <!-- <button class="btn forwardbtn" (click)="forwardmessage();"><i
                      class="fa fa-arrow-right">&nbsp;&nbsp;</i>Forward</button> -->
                  <button class="btn printbtn" (click)="print();"><i class="fa fa-print">&nbsp;&nbsp;</i>Print</button>
                  <div class="line2"></div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-9 col-xs-12" *ngIf="forwardmsg">
          <div class="inner-part8" style="box-shadow:none !important;">
            <div class="col-lg-12">
              <div class="col-lg-12">
                <p class="smartheading_new">Encrypted<span>mail</span></p>
              </div>
            </div>

            <div class="col-lg-12">

              <div class="tabs-left">


                <ul class="nav nav-tabs6">

                  <li class="active">
                    <a routerLink="/composencryptemail"><span class="iconimg"><img src="assets/img/envelope.png" /></span><span class="pt6">Compose</span></a>
                  </li>
                  <li class="">
                    <a routerLink="/readencmail"><span class="iconimg"><img src="assets/img/message-closed-envelope.png" /></span><span class="pt6">Read Mail</span></a>
                  </li>

                  <li class="">
                    <a routerLink="/sentencmail"><span class="iconimg"><img src="assets/img/sent-mail.png" />
                      </span><span class="pt6">Sent</span></a>
                  </li>
                  <li class="">
                    <a routerLink="/trashencmail"><span class="iconimg"><img src="assets/img/trash.png" />
                      </span><span class="pt6">Trash</span></a>
                  </li>
                  <li class="">
                    <a routerLink="/contactencmail"><span class="iconimg"><img src="assets/img/phone-receiver.png" /></span><span class="pt6">Contact</span></a>
                  </li>

                </ul>

                <div id="myTabContent" class="tab-content mobilecontent" style="opacity: 1;">




                  <div class="tab-pane active" id="home">
                    <div class="col-lg-12 col-md-12 col-xs-12">

                      <div class="">

                        <span class="smartusericon">
                          <i class="fa fa-user" (click)="useridentity = !useridentity"
                            style="font-size:24px !important; color:#b59848;" aria-hidden="true" data-placement="left"
                            data-toggle="tooltip" data-original-title="Edit your identity"></i>
                        </span>
                        <form class="smartfloatform">

                          <div class="form-group smartfloat smartnofloat" *ngIf="useridentity">

                            <label for="inputEmail" class="col-lg-2 control-label1">From:</label>
                            <div class="col-lg-10">
                              <input type="text" [(ngModel)]="email" class="form-control" name="from">
                            </div>
                          </div>

                          <div class="form-group smartfloat">
                            <div class="col-md-10 col-md-offset-2">
                              <span style="font-family:&#39;Century Gothic&#39;; color:#000; font-size:15px;">Use
                                comma(,) to separate email id, avoid spacing between email ids.</span>
                            </div>
                            <label for="inputEmail" class="col-lg-2 control-label1 lable2">To:</label>
                            <div class="col-lg-10">
                              <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input
                                type="text" (blur)="validateemail()" [(ngModel)]="forwardtoemail"
                                class="form-control ui-autocomplete-input" name="emailid" value="" autocomplete="off">
                              <span class="error-msg">{{emailerror}}</span>
                            </div>
                          </div>
                          <div class="form-group smartfloat">
                            <label for="inputEmail" class="col-lg-2 control-label1">Subject:</label>
                            <div class="col-lg-10">
                              <input type="text" [(ngModel)]="subject" class="form-control" name="subject"
                                value="Fw: {{subject}}">

                            </div>
                          </div>



                          <div class="form-group smartfloat">
                            <div class="col-md-12 col-sm-12 col-xs-12 mobilepd">
                              <!-- <a><button   class="bottom-nextbtn addpart">Add Participants</button></a> -->
                              <label for="smartfile" class="bottom-nextbtn smartchoose">Choose File</label>
                              <input type="file" (change)="fileChange($event)" class="form-control" id="smartfile"
                                style="display: none;" multiple>
                            </div>
                            <div class="col-xs-offset-2 col-xs-10">
                              <div class="file_preview">
                              <div class="cross">
                                <a [href]="attachmentLINK">{{attachment}} </a> 
                              </div>
                              </div>
                            </div>
                          </div>
                        </form>

                        <div class="smarteditordiv">
                          <!-- editorbox starts -->
                          <div class="col-xs-12">
                            <div class="editorbox" style="margin-bottom: 20px !important;">
                              <!-- <div [froalaEditor] [(froalaModel)]="editorContent"></div> -->
                              <quill-editor [theme]="bubble" [(ngModel)]="innerhtml" [style]="{height: '105px'}">
                              </quill-editor>
                            </div>
                          </div>
                          <!-- editorbox ends -->
                          <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                            <button (click)="sendsmartmail()" class="all_send_button">SEND</button>
                          </div>

                        </div>


                      </div>

                    </div>


                    <!-- /tab-content -->


                  </div>
                </div>

                <div class="clearfix"></div>

              </div>

            </div>

          </div>

        </div>


        <div class="shade">

          <div class="popmsg">

            <p style="color:#FFFFFF; text-align:center;font-weight:900;font-size:16px;padding:10px 0; margin:0;"
              id="ses"></p>

          </div>

        </div>
      </div>
    </div>
  </section>


  <footer>
    <div class="container">
      <div class="col-md-2 col-sm-2 col-xs-12">
        <div class="msgimgdiv">
          <img src="assets/img/chat.png" />
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="copyrighttext">
          <p>COPYRIGHT &copy; 2018.ALL RIGHTS RESERVED</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="social-icondiv">
          <ul>
            <li>
              <a>
                <img src="assets/img/insta.png" />
              </a>
            </li>
            <li>
              <a>
                <img src="assets/img/fb.png" />
              </a>
            </li>
            <li>
              <a>
                <img src="assets/img/twitter.png" />
              </a>
            </li>
            <li>
              <a>
                <img src="assets/img/google-plus.png" />
              </a>
            </li>
            <li>
              <a>
                <img src="assets/img/you.png" />
              </a>
            </li>
            <li>
              <a>
                <img src="assets/img/test.png" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
