<section class="hdrsec">
  <div class="logoimg">
      <!-- <img src="../../assets/img/ezee-logo.png"/> -->
      <a routerLink='/'><img src="../../assets/img/ezee-logo.png"/></a>
      
  </div>
</section>
<div class="col-md-6 col-md-offset-3" style="padding:100px 0;margin-bottom: 152px;">

			          

						 
						

  <div style="text-align:left; line-height:25px;">

  


<div class="boombox" style="border:5px solid #858f03 !important; width:100% !important; padding:10px !important;">
<p class="txt-1" style="background:#858f03;text-align: center;padding: 5px 2px;color: #fff;  font-weight: 600; font-size: 16px;">Thank you for using <span style="text-transform:none;">EZEEboss Sign system!</span></p>
<div style="box-sizing:border-box;line-height:25px; font-weight: 600; font-size: 16px;">You have chosen to reject the signing process.&nbsp;<br style="box-sizing:border-box">If you have any questions regarding the EZEEboss Signing Process please contact:<br style="box-sizing:border-box"><br style="box-sizing:border-box">
  United States
  <div style="box-sizing:border-box">Mobile:&nbsp;<span class="m_-1513358937426007447gmail-color: m_-1513358937426007447gmail-#000000 m_-1513358937426007447gmail-!important;text-decoration: m_-1513358937426007447gmail-none m_-1513358937426007447gmail-!important;" style="box-sizing:border-box">7889259983</span></div><div style="box-sizing:border-box">Email ID:&nbsp;<span class="m_-1513358937426007447gmail-color: m_-1513358937426007447gmail-#000000 m_-1513358937426007447gmail-!important;text-decoration: m_-1513358937426007447gmail-none m_-1513358937426007447gmail-!important;" style="box-sizing:border-box"><a href="mailto:work.jagveer@gmail.com" target="_blank">work.jagveer@gmail.com</a></span></div></div>
</div>


</div>







</div>

