<!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/signature.css">  -->
<!-- <link rel="stylesheet" href="assets/css/mycustom.css">  -->


<section class="hdrsec">
  <div class="logoimg">
    <a routerLink='/landing'><img src="../../assets/img/ezee-logo.png" /></a>
  </div>
</section>
<div class="container page_header">
  <h3 style="text-align:center;">&nbsp;</h3>
</div>
<div class="small-space"></div>
<section class="container">
  <div routerLink='/landing' class="col-md-4 col-sm-6"> <img _ngcontent-c2="" alt="" class="img-responsive"
      src="../../assets/img/home-03.png">
  </div>
  <div class="col-md-8 col-sm-6" style="padding: 19px;
    margin-bottom: 30px;
    
    border: 10px solid #d07c00;
    border-radius: 0px;
   
    margin-top: 60px;" *ngIf="!passwordmatch">
    <div class="row">
      <div class="col-md-12" style="margin:0;padding:0">
        <div class="col-md-12 pull-left">
          <h2 style="text-align:left; font-size:30px; text-transform:uppercase; margin-left:2%; 

font-family:&#39;Century Gothic&#39;; !important; text-align: center; color: #b59848!important; margin-

bottom: 30px;  padding-right: 20px; padding-left: 20px;"> Download your files</h2>
        </div>
        <div class="pull-right col-md-4"> </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <!-- class table-responsive -->
          <input type="hidden" name="rses" id="rses" value="6f3741c0b6b42a513b0e0d676896628de2922842">
          <label style="font-weight: normal;">Please enter password</label>
          <input type="password" id="pass" name="pass" [(ngModel)]="password" class="form-control">
          <input type="button" value="SUBMIT" (click)="checkpassword()" class="custombtn btn btn-primary"
            style="border-radius:0px;">
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8 col-sm-6" *ngIf="passwordmatch"
    style="padding: 19px;margin-bottom: 30px;border: 10px solid #d07c00;border-radius: 0px;">
    <div class="row">
      <div class="col-md-12" style="margin:0;padding:0">
        <div class="col-md-12 pull-left">
          <h2 style="text-align:left; font-size:30px; text-transform:uppercase; margin-left:2%; font-family:'Century Gothic'; !important; text-align: center; color: #b59848!important; margin-
        bottom: 30px;  padding-right: 20px; padding-left: 20px;"> download your files</h2>
        </div>
        <div class="pull-right col-md-4"> </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <!-- class table-responsive -->
          <p style="text-align:left;">The following file(s) were sent to you as an attachments <br>
            <b>From:</b>
            {{fromemail}} </p>
          <p style="text-align:left;;margin-bottom:5%"><strong>They will be available till
              {{date | amDateFormat: 'MM/DD/YYYY'}}</strong></p>
          <p style="text-align:left;color:#FF0000"> </p>
          <table class="table table-condensed table-striped table-hover table-bordered">
            <!-- class table-condensed -->
            <tbody>
              <tr>
                <th>File Name </th>
                <th>File Size</th>
                <th> Link </th>
              </tr>
              <!-- Row 2 , danger class-->
              <tr *ngFor="let item of detail">
                <td id="fn1">{{item.attachmentname}}</td>
                <td id="fs1">{{item.filesize}} Mb</td>
                <td id="fp1"> <a class="dwn" (click)="downloadfile(item.attachments,item.attachmentname)"
                    style="color:#000; text-decoration:none;cursor: pointer">Download <span><i
                        class="fa fa-download"></i></span> </a>
                  <a target="_blank" *ngIf="item.extension == '.DCM' || item.extension == '.dcm'" class="dwn"
                    href="https://ezeeboss.com/dicomview?input=https://ezeeboss.com/assets/filetransfer/{{item.attachments}}"
                    style="color:#000; text-decoration:none;" download>View <span><i class="fa fa-eye"></i></span> </a>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>


  <footer id="footer">
    <div class="container">
      <div class="col-md-2 col-sm-2 col-xs-12">
        <div class="msgimgdiv">
          <img src="../../assets/img/chat.png" />
        </div>
      </div>
      <div class="col-md-5 col-sm-5 col-xs-12">
        <div class="copyrighttext">
          <p>COPYRIGHT &copy; 2018.ALL RIGHTS RESERVED</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-5 col-xs-12">
        <div class="social-icondiv">
          <ul>
            <li>
              <a>
                <img src="../../assets/img/insta.png" />
              </a>
            </li>
            <li>
              <a>
                <img src="../../assets/img/fb.png" />
              </a>
            </li>
            <li>
              <a>
                <img src="../../assets/img/twitter.png" />
              </a>
            </li>
            <li>
              <a>
                <img src="../../assets/img/google-plus.png" />
              </a>
            </li>
            <li>
              <a>
                <img src="../../assets/img/you.png" />
              </a>
            </li>
            <li>
              <a>
                <img src="../../assets/img/test.png" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
