<div class="wrapper">
    <app-header></app-header>
    <!-- Left side column. contains the logo and sidebar -->
    <app-main-side-bar></app-main-side-bar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header text-left">
            <ol class="breadcrumb">
                <li><a routerLink="/UserHomeDashboardComponent"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content1">
            <app-new-document></app-new-document>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
   <!---   <app-footer></app-footer>  -->
    <!-- Control Sidebar -->
    <!-- <app-control-slider></app-control-slider> -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>