<section class="fullpage">
  <div class="my-container">
    <ng4-loading-spinner [template]="template" class="imgcenter" [zIndex]="9999"> </ng4-loading-spinner>

  </div>
  <div class="">
    <div class="boxdiv">
      <div id="pdfscroll" class="col-md-4 col-sm-5 col-xs-12">
        <div class="fixedposition">
          <div class="innerfixed">
            <div class="electronicsig-div">
              <img src="../../assets/img/home-02.png" />
            </div>
            <div class="electronicsig-div1">
              <h5>SELECT PARTICIPANT</h5>
              <div class="radiobtnbox">
                <div class="electronicsig-div1" #u>
                  <ul class="participentul">
                    <div *ngFor="let user of userlist">

                      <li *ngIf="user.userRole == 'Remote Signer'">
                        <!-- {{user.firstName}} -->
                        <label class="container345">{{user.firstName}} {{user.lastName}}
                          <input type="radio" name="r" ng-model="myVar" value={{user._id}}
                            (change)='userselection(user._id)'>
                          <span class="checkmark radiocheckmark"></span>
                        </label>

                      </li>
                    </div>

                  </ul>
                </div>
              </div>
            </div>
            <div class="electronicsig-div2">
              <h5>DRAG & DROP</h5>
              <div>

              </div>
              <div *ngIf='!selected'>
                Please Select User First
              </div>
              <div class="radiobtnbox1">
                <form>

                  <div class=" pd0 draggable" style="z-index:999">
                    <div class="form-group dragClasss">
                      <h6>Signature</h6>
                    </div>
                  </div>
                  <div class=" pd0 draggable">
                    <div class="form-group dragClasss">
                      <h6>Initial</h6>
                    </div>
                  </div>
                  <div class=" pd0 draggable">
                    <div class="form-group dragClasss">
                      <h6>Name</h6>
                    </div>
                  </div>
                  <div class=" pd0 draggable">
                    <div class="form-group dragClasss">
                      <h6>Email</h6>
                    </div>
                  </div>
                  <div class=" pd0 draggable">
                    <div class="form-group dragClasss">
                      <h6>Date</h6>
                    </div>
                  </div>
                  <div class=" pd0 draggable">
                    <div class="form-group dragClasss">
                      <h6>Text</h6>
                    </div>
                  </div>

                </form>
              </div>
            </div>

            <div class="electronicsig-div2">
              <div class="btndiv">
                <div class="col-md-6 col-sm-6 col-xs-12 pd0">
                  <div class="">
                    <a routerLink="/digital_sign/{{digitalpath}}">
                      <button>

                        <i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 pd0">
                  <div class="btn2">
                    <a (click)="showinstructions = !showinstructions" style="cursor: pointer;" class="mobilehomebtn1"
                      data-placement="right">
                      <button>Instructions</button>
                    </a>
                  </div>
                  <li style="list-style:none; cursor:pointer;" class="toggle">
                  <ul *ngIf="showinstructions" class="drop-popup mydroppopup" style="float: left;">

                    <div class="arrow-top">
                      <img src="../../assets/img/arrow-top.png">
                    </div>
                    <div class="inst-popup instnew"
                      style="font-family: Century Gothic; font-size: 14px; text-align: left; font-weight: bold; color: #333;">
                      <ul style="list-style: none; padding: 0;">
                        <li style="margin-bottom: 10px;">Step 1: Select Participant.
                        </li>
                        <li style="margin-bottom: 10px;">Step 2: Drag and Drop on PDF.</li>
                        <li style="margin-bottom: 10px;">Step 3: Click Send to share file with Recipient(s) for signing.
                        </li>
                      </ul>
                    </div>
                  </ul>
                </li>
                </div>
              </div>
              <div class="btndiv">
                <div class="col-md-6 col-sm-6 col-xs-12 pd0">
                  <div class="btn3">
                    <button (click)="savehtml();">
                      <i class="fa fa-floppy-o" aria-hidden="true"></i> Save File</button>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 pd0">
                  <div class="btn2">
                    <a routerLink="/digital_sign/{{digitalpath}}">
                      <button>
                        <i class="fa fa-times-circle" aria-hidden="true"></i> Cancel</button>
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="gethtml">
        <div class="col-md-8 col-sm-6 col-xs-12 divsize" style="height:100%">
          <div class="inthis">
            <div *ngFor="let image of pdfimages;" class="pdfimg droppable">
              <img style="width:100%" src="{{image}}" crossorigin="anonymous">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style='display:none' class="stickit thefixeddiv" id="stickit">
    <div class="col-md-12">
      <span class="col-md-6 col-sm-12 col-xs-12" style="font-family: 'Century Gothic' !important;">Click Send , to
        Complete the Document.
        <!--Textboxes will be added here -->
      </span>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div style="width: 40% !important;" class="right_btn_pannel">
          <a class="btn signbtn pulse-button pulse green" (click)='senddocument();' id="finish">SEND</a>
        </div>
      </div>
    </div>
  </div>
</section>

<modal #instructionModal [hideCloseButton]="true">
  <modal-content class="custom-mod-cont">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nullvoid">
      <div class="row nullvoid" style="border-radius:0px; box-shadow:none !important;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="partpnt_poup">
            <h3 class="partagselect"> Instructions</h3>
            <input type="button" class="btn btn-danger closepar commn_btn cnclbtn" id="" value="Cancel"
              (click)="instructionModal.close()">
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nullvoid" id="">
          <ul class="instructionlist">
            <li><b>Step 1:</b> Upload or drag and drop PDF file.</li>
            <li><b>Step 2:</b> Check box, if you require an expiration date (not mandatory).</li>
            <li><b>Step 3:</b> Add participants.</li>
            <li><b>Step 4:</b> You can rearrange signing order under "priority". Click on arrow up or down to change
              signing order (not mandatory). Click next to complete.</li>
          </ul>
        </div>
      </div>
    </div>
  </modal-content>
</modal>
