<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/signature.css">
<!-- <link rel="stylesheet" href="assets/css/mycustom.css">  -->
<section class="hdrsec">
  <div class="logoimg">
    <a routerLink="/"><img src="assets/img/ezee-logo.png" /></a>
  </div>
</section>

<section class="fullpage">
  <div class="container">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-9">
        <div class="row">
          <div class="col-xs-6 text-left">
            <a (click)="backClicked()" class="top_back_button"><i class="fa fa-caret-left"></i><span>Back</span></a> 
          </div>
          <div class="col-xs-6 text-right">
            <!-- menu start -->
              <div class="new_custom_drop_down">
                <li class="dropdown" dropdown>
                  <i class="fa fa-user list5" aria-hidden="true"></i> &nbsp;

                  <span class="title">{{fullname}} &nbsp;</span>
                  <a style="cursor: pointer;" class="dropdown-toggle" dropdownToggle>
                    <div class="downarrow mobiledownarrow"><b class="caret"></b></div>
                  </a>
                  <ul *dropdownMenu class="my_drop_down">

                    <li><a (click)="logout();">Logout</a></li>

                    <li><a routerLink="/profile">View Profile</a></li>

                    <li id=""><a>Change Password</a></li>

                    <li><a>Membership Order</a></li>

                  </ul> 
                </li>
              </div>
        <!-- menu end -->
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="container">

    <div class="row mt_class">

      <div class="col-lg-3 col-md-3 col-xs-12 mobilepd">

        <!--Instructions & logo part start-->

        <div style="display:block; margin:0 auto;" class="col-lg-12 mobilepd">

          <a routerLink="/" data-placement="right" data-toggle="tooltip" data-original-title="" class="homeanchor">
            <span class="pt51 pt567 mobilehomebtn">
              <span class="fa fa-home"></span> Home
            </span>
          </a>

        </div>

        <a routerLink="">

          <img class="img-responsive compose_lock_image" src="../../assets/img/home-03.png" alt=""
            data-placement="right">

        </a>



        <div class="wrapper2">

          <li style="list-style:none; cursor:pointer;" class="toggle">

            <a style="cursor: pointer;" class="list-part2 mobilehomebtn" data-placement="right">

              <span class="title2">INSTRUCTIONS</span>

            </a>

            <ul *ngIf="showinstructions" class="drop-popup mydroppopup">

              <div class="arrow-top"><img src="../../assets/img/arrow-top.png"></div>

              <div class="inst-popup instnew"
                style="font-family: Century Gothic; font-size: 14px; text-align: left; font-weight: bold; color: #333;">

                <ul style="list-style: none; padding: 0;">

                  <li style="margin-bottom: 10px;">Step 1: Upload or drag and drop PDF file.</li>

                  <li style="margin-bottom: 10px;">Step 2: Check box, if you require an expiration date (not mandatory).
                  </li>

                  <li style="margin-bottom: 10px;">Step 3: Add participants.</li>

                  <li style="margin-bottom: 10px;">Step 4: You can rearrange signing order under "priority". Click on
                    arrow up or down to change signing order (not mandatory). Click next to complete.</li>


                </ul>

              </div>

            </ul>

          </li>

        </div>


        <div class="clearfix mymsg"></div>
        <!--Instructions & logo part end-->

      </div>

      <div class="col-lg-9 col-md-9 col-xs-12">

        <div class="inner-part8" style="box-shadow:none !important; padding: 0;">

          <div class="col-lg-12 p_bottom">

            <div class="col-lg-6">
              <form class="">
                <div class="input-group list stylish-input-group">
                  <input type="text" class="form-control" style="border-radius:0px;" placeholder="Search....."
                    name="pcode" id="pcode">
                  <span class="input-group-addon" style="border-radius:0px;">
                    <button type="submit"> <span class="fa fa-search"></span> </button>
                  </span> </div>
              </form>
            </div>
            <div class="col-lg-6">

              <p class="smartheading_new">File<span>Transfer</span></p>
            </div>
          </div>

          <div class="col-lg-12">

            <div class="tabs-left">


              <ul class="nav nav-tabs6">

                <li class="">
                  <a routerLink="/composefiletransfer">
                    <span class="iconimg"><img src="assets/img/envelope.png" /></span><span class="pt6">Compose</span>
                  </a>
                </li>

                <li class="active">
                  <a routerLink="/readmailtransfer">
                    <span class="iconimg">
                      <img src="assets/img/message-closed-envelope.png" />
                    </span><span class="pt6">Read Mail</span>
                  </a>
                </li>

                <li class="">
                  <a routerLink="/senttransfer">
                    <span class="iconimg">
                      <img src="assets/img/sent-mail.png" />
                    </span><span class="pt6">Sent</span>
                  </a>
                </li>
                <li class="">
                  <a routerLink="/fileTranferTrash">
                    <span class="iconimg">
                      <img src="assets/img/trash.png" />
                    </span><span class="pt6">Trash</span>
                  </a>
                </li>
                <li class="">
                  <a routerLink="/contacttransfer">
                    <span class="iconimg">
                      <img src="assets/img/phone-receiver.png" />
                    </span><span class="pt6">Contact</span>
                  </a>
                </li>
              </ul>

              <div id="myTabContent" class="tab-content mobilecontent" style="opacity: 1;">




                <div class="tab-pane active" id="home">
                  <div class="col-lg-12 col-md-12 col-xs-12">

                    <div class="">

                      <div class="table-responsive jug-2">
                        <div class="smartpadding">
                          <a (click)="ngOnInit()">
                            <img src="assets/img/refresh.png" class="img-responsive img1" style="width: 25px;">
                          </a>
                        </div>
                        <div class="clearfix"></div>
                        <form>

                          <table class="table table-bordered table-hover table-striped">
                            <thead>
                              <tr class="smartmail">
                                <th>
                                  <div class="checkbox r_d">
                                    <label class="new_checkbox_2">
                                      <input type="checkbox" [checked]="isAllChecked()" (change)="checkAll($event)">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </th>

                                <th>From</th>
                                <th>Subject</th>
                                <th>Messege</th>
                                <th>Date</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody *ngIf='!empty'>
                              <tr *ngFor="let item of sentmails" class="unread">
                                <td>
                                  <div class="checkbox s_t">
                                    <label class="new_checkbox_2">
                                      <input type="checkbox" name="checked" value="{{item._id}}"
                                        [(ngModel)]="item.selected">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>{{item.fromemail}}</td>
                                <td>{{item.toemail}}</td>
                                <td class="text-right">{{item.subject}}</td>
                                <td>{{item.dateadded | amDateFormat: 'MM/DD/YYYY'}}</td>
                                <td>
                                  <a (click)="clickme(item)" style="cursor: pointer;">
                                    <img src="assets/img/view.png" class="img-responsive" />
                                  </a>
                                </td>
                              </tr>

                            </tbody>

                          </table>
                          <div *ngIf='emptyMsg' class="empty">{{emptyMsg}}</div>
                        </form>
                        <div *ngIf='!empty' class="smartdelete">
                          <a (click)="movetotrash()">
                            <button _ngcontent-c4="" class="delbtn"> Delete</button>
                          </a>
                        </div>
                        <div class="pagination">
                          <a *ngIf='showprev' (click)="pageination('p')">
                            <button class="prebtn"> Previous</button>
                          </a>
                          <a *ngIf='shownext' (click)="pageination('n')">
                            <button class="nxtbtn"> Next</button>
                          </a>
                        </div>
                      </div>

                    </div>

                  </div>


                  <!-- /tab-content -->


                </div>
              </div>

              <div class="clearfix"></div>

            </div>

          </div>

        </div>

      </div>


      <div class="shade">

        <div class="popmsg">

          <p style="color:#FFFFFF; text-align:center;font-weight:900;font-size:16px;padding:10px 0; margin:0;" id="ses">
          </p>

        </div>

      </div>

      <!-- <modal #info [hideCloseButton]="true" [closeOnOutsideClick]="false">

        <modal-content class="custom-mod-cont">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nullvoid">
            <div class="inner-part mrbt0" style="float:left; width:100%; box-shadow:none;">



              <div class="col-lg-12 col-md-12 col-xs-12 pd0">
                <div class="col-md-8 col-sm-8 col-xs-12 pd0">
                  <p class="pt5 mailhd">Mail Log</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 pd0">
                  <div>
                    <a class="popuplog-close">x</a>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>


              <div class="innerpopup">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <h3 style="float:left;">
                    <span>Subject:</span>sdf
                  </h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <p class="message-date">03/20/2018<br></p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                  <p class="centertext">Message Read By: <span>&nbsp;&nbsp;&nbsp;shabnamkumariait@gmail.com</span></p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <p class="centertext">From: <span>&nbsp;&nbsp;shabnamkumariait@gmail.com</span></p>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <b class="centertext">Your Message has been delivered and read by the recipient.<br>
                    Please see the followiing Report.<br><br></b>
                </div>


                <div class="col-md-12 col-sm-12 col-xs-12">
                  <table class="table table-bordered table-striped" style="border:1px solid;">
                    <thead>
                      <tr>
                        <th>Mail Read</th>
                        <td align="right">1 Time</td>
                      </tr>
                      <tr>
                      </tr>
                      <tr>
                        <th>Mail Read Date</th>
                        <td align="right">03/20/2018</td>
                      </tr>
                      <tr>
                        <th>Mail Read Time</th>
                        <td align="right">05:40:52 AM</td>
                      </tr>
                      <tr>
                        <th>Mail Read From IP </th>
                        <td align="right">64.233.173.138</td>
                      </tr>
                      <tr>
                        <th>Last Read Date</th>
                        <td align="right">03/20/2018 </td>
                      </tr>
                      <tr>
                        <th>Last Read Time</th>
                        <td align="right"> 05:40:52 AM</td>
                      </tr>
                      <tr>
                        <th>Last Read From IP</th>
                        <td align="right">64.233.173.138</td>
                      </tr>

                    </thead>
                  </table>
                </div>

                <div class="message-attachments col-lg-12 col-md-12 col-sm-12 col-xs-12 centertext mrbt0">
                  <p><i style="font-size:22px;" class="fa fa-paperclip m-r-xs"></i>
                    &nbsp;&nbsp;0&nbsp;&nbsp;Attachment(s)</p>
                  <div class="message-attachment"></div>

                </div>




              </div>
            </div>
          </div>
        </modal-content>

      </modal> -->

      <modal #info [hideCloseButton]="true" [closeOnOutsideClick]="false">
        <modal-content class="custom-mod-cont">
          <div class="col-xs-12 nullvoid">
            <div class="top_popup_header_file_tranfer">
              <p class="text-center header_popup">Mail Log</p>
              <a class="popuplog-close" (click)="close()">x</a>
            </div>
            <div class="innerpopup">
              <div class="col-xs-6">
                <div class="mail_subject">
                  <span>Subject:</span> {{subject}}
                </div>
              </div>
              <div class="col-xs-6">
                <div class="mail_time">{{dateadded | amDateFormat: 'MM/DD/YYYY'}}</div>
              </div>

              <div class="col-xs-12">
                <p class="mail_info"><b>Mail read by:</b> {{toemail}}</p>
                <p class="mail_info"><b>From:</b> {{fromemail}}</p>
                <div class="mail_info"><b>Subject:</b> {{ subject}}</div>
                <table class="table table-bordered table-striped" style="border:1px solid;">
                  <tr>
                    <th style="text-left">Mail Read</th>
                    <td style="text-left">{{readcount}} Time</td>
                  </tr>
                  <tr>
                    <th style="text-left">Mail Read Date</th>
                    <td style="text-left">{{firstreaddate | amDateFormat: 'MM/DD/YYYY'}}</td>
                  </tr>
                  <tr>
                    <th style="text-left">Mail Read Time</th>
                    <td style="text-left">{{firstreaddate | amDateFormat: 'HH:mm:ss'}}</td>
                  </tr>
                  <tr>
                    <th style="text-left">Mail Read From IP </th>
                    <td style="text-left">{{ip}}</td>
                  </tr>
                  <tr>
                    <th style="text-left">Last Read Date</th>
                    <td style="text-left">{{dateadded | amDateFormat: 'MM/DD/YYYY'}}</td>
                  </tr>
                  <tr>
                    <th style="text-left">Last Read Time</th>
                    <td style="text-left">{{dateadded | amDateFormat: 'HH:mm:ss'}}</td>
                  </tr>
                  <tr>
                    <th style="text-left">Last Read From IP</th>
                    <td style="text-left" *ngIf="lastreadip !=''">{{lastreadip}}</td>
                    <!-- <td style="text-left" *ngIf="!lastreadip">{{ip}}</td> -->
                  </tr>
                </table>
              </div>
              <div class="col-xs-12">
                <p class="text-center attachment_btn"><i style="font-size:22px;"
                    class="fa fa-paperclip m-r-xs"></i>&nbsp;&nbsp;{{length}}&nbsp;&nbsp;Attachment(s)</p>
                <div class="message-attachment"></div>
              </div>
            </div>
          </div>
        </modal-content>

      </modal>
    </div>
  </div>
</section>


<footer>
  <div class="container">
    <div class="col-md-2 col-sm-2 col-xs-12">
      <div class="msgimgdiv">
        <img src="assets/img/chat.png" />
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="copyrighttext">
        <p>COPYRIGHT &copy; 2018.ALL RIGHTS RESERVED</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="social-icondiv">
        <ul>
          <li>
            <a>
              <img src="assets/img/insta.png" />
            </a>
          </li>
          <li>
            <a>
              <img src="assets/img/fb.png" />
            </a>
          </li>
          <li>
            <a>
              <img src="assets/img/twitter.png" />
            </a>
          </li>
          <li>
            <a>
              <img src="assets/img/google-plus.png" />
            </a>
          </li>
          <li>
            <a>
              <img src="assets/img/you.png" />
            </a>
          </li>
          <li>
            <a>
              <img src="assets/img/test.png" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
